.container h2 {
  font-weight: bold;
  font-family: serif;
  font-size: 40px;
  margin-bottom: 20px;
}
  
  .container .col-md-6:first-of-type,
  .container .col-sm-12:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }

  .container .col-md-6:first-of-type,
  .container .col-sm-12:first-of-type {
    text-align: right;
  }

  .container .col-md-6:first-of-type p,
  .container .col-sm-12:first-of-type p {
    color: #000000;
    font-size: 20px;
  }

.container h1,
.confirmedModal h1 {
  color: #000000;
  font-family: 'Allura';
  font-size: 50px;
}

.container .form {
  border: 1px solid #000000;
  margin: 80px 50px;
  padding: 50px;
  background-color: #ffffff;
  text-align: left;
}

  .container .form h3 {
    font-size: 20px;
    border-bottom: 2px solid var(--custom-secondary-color);
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  .container .form p {
    color: #000000;
    text-align: left;
    padding-top: 10px;
  }

  .container .form .question span {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .container .form .button {
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }

    .container .form .button .btn {
      background-color: var(--custom-secondary-color);
      color: #000000;
      font-weight: bold;
      width: 200px;
    }

    .container .form .button .btn:hover {
      border: 1px solid var(--custom-secondary-color);
    }

.confirmedModal {
  margin: 50px;
}

  .confirmedModal .confirmed span,
  .confirmedModal .not-confirmed span {
    font-family: 'Raleway';
    color: var(--custom-primary-color);
    font-size: 20px;
  }

  .confirmedModal p {
    font-family: 'Raleway';
    color: #000000;
  }

  .confirmedModal .card {
    padding: 50px;
  }

    .confirmedModal .card i {
      display: block;
      font-size: 80px;
      margin-bottom: 1rem;
    }

      .confirmedModal .card i.fa-circle-xmark {
        color: red;    
      }

      .confirmedModal .card i.fa-circle-check {
        color: rgb(0, 182, 0);
      }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1024px) {
  .container .form {
    margin: 80px 20px;
    padding: 40px;
  }
}

@media (max-width: 575px) {  
  .container .col-sm-12 {
    text-align: center !important;
    align-items: center !important;
  }

  .container .form {
    border: 1px solid #000000;
    margin: 30px 0px;
    padding: 20px;
    background-color: #ffffff;
    text-align: left;
  }

  .confirmedModal {
    margin: 30px;
  }

    .confirmedModal .card {
      padding: 20px;
    }
}
