<!-- Modal -->
<div class="modal fade" id="warningDialog" tabindex="-1" aria-labelledby="warningDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="warningDialogLabel" i18n>Eliminando Archivo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p i18n>Esta seguro de que desea eliminar el archivo?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-success" data-bs-dismiss="modal" i18n>Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteImage()" i18n>Eliminar</button>
      </div>
    </div>
  </div>
</div>