<div class="accordion-item" *ngIf="entryGroup">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + entryGroup.key.replaceAll(' ', '')" aria-expanded="true" aria-controls="collapseOne">
      {{ entryGroup.key }}
    </button>
  </h2>
  <div *ngIf="entryGroup.value.length > 0" [id]="entryGroup.key.replaceAll(' ', '')" class="accordion-collapse collapse" data-bs-parent="#entryAccordion">
    <div class="accordion-body">
      <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Familia</th>
            <th>Numero de entradas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entrie of entryGroup.value">
            <td>{{ entrie.family }}</td>
            <td>{{ entrie.entriesConfirmed === null || entrie.entriesConfirmed === undefined ? 0 : entrie.entriesConfirmed }} / {{ entrie.entriesNumber }}</td>
            <td>
              <button class="btn" [ngClass]="entrie.confirmation === null || entrie.confirmation === undefined ? 'btn-warning' : 'btn-secondary'" (click)="openEditModal(this.entrie.id)" [disabled]="entrie.confirmation !== null && entrie.confirmation !== undefined"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="btn btn-delete" [ngClass]="entrie.confirmation === null || entrie.confirmation === undefined ? 'btn-danger' : 'btn-secondary'" (click)="showModal(this.entrie)" [disabled]="entrie.confirmation !== null && entrie.confirmation !== undefined"><i class="fa-solid fa-trash"></i></button>
              <button class="btn" [ngClass]="entrie.confirmation === null || entrie.confirmation === undefined ? 'btn-success' : 'btn-secondary'" (click)="copyToClipBoard(this.entrie.id)" [disabled]="entrie.confirmation !== null && entrie.confirmation !== undefined"><i class="fa-solid fa-copy"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>