<form [formGroup]="confirmationForm" class="container" *ngIf="invite.confirmation === null && invite">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2 i18n>Confirmación</h2>
      <p i18n>Es muy importante para nosotros contar con tu confirmación lo antes posible</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form">
        <div class="question">
          <h3 i18n>¿ASISTIRÁS A MI FIESTA?</h3>
          <span i18n *ngIf="blockConfirmationForm">Este formulario no acepta mas respuestas</span>
        </div>
        <p i18n>
          Selecciona una opción
        </p>
        <div class="form-check form-check-inline">
          <label class="form-check-label" i18n>
            <input class="form-check-input" type="radio" value="true" formControlName="confirmation" checked> Asistiré
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" i18n>
            <input class="form-check-input" type="radio" value="false" formControlName="confirmation"> No asistiré
          </label>
        </div>
        <div class="form-group">
          <p i18n>Personas confirmadas</p>
          <select id="entriesConfirmed" class="form-control" formControlName="entriesConfirmed" [ngClass]="{'is-invalid': displayMessage['entriesConfirmed']}">
            <option value="" i18n>Selecciona el numero de pases</option>
            <option *ngFor="let number of numberOfEntries$ | async" [value]="number">{{ number }}</option>
          </select>
          <span class="invalid-feedback">
            {{ displayMessage['entriesConfirmed'] }}
          </span>
        </div>
        <p i18n>¡Envía una felicitación!</p>
        <div class="form-group">
          <textarea id="message" class="form-control" name="" rows="3" formControlName="message"></textarea>
        </div>
        <div class="button">
          <button type="button" class="btn" (click)="saveInformation()" i18n [disabled]="blockConfirmationForm">ENVIAR</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="confirmedModal" *ngIf="invite.confirmation !== null && invite">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ invite.family }}</h1>
      <div class="confirmed" *ngIf="invite.confirmation">
        <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
        <span i18n>Su asistencia ha sido confirmada</span>
        <p class="card-text" i18n>Puede cerrar la página</p>
      </div>
      <div class="not-confirmed" *ngIf="!invite.confirmation">
        <i class="fa-solid fa-circle-xmark" aria-hidden="true"></i>
        <span i18n>Su asistencia ha sido cancelada.</span>
        <p class="card-text" i18n>Muchas gracias por su tiempo.</p>
        <p class="card-text" i18n>Puede cerrar la página.</p>
      </div>
    </div>
  </div>
</div>