<div class="container-fluid h-100">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title" i18n>Iniciar sesión</h1>
      <form action="" [formGroup]="loginForm" novalidate (ngSubmit)="loginAccount()">
        <span data-testid="authErrorMessage" class="bg-danger d-block text-light rounded py-2" [style.visibility]="authErrorMessage ? 'visible' : 'hidden'" role="alert" aria-live="polite">
          {{ authErrorMessage }}
        </span>
        <div class="form-group">
          <label for="usernameOrEmail" i18n>Usuario</label>
          <div class="inputField">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
            <input id="usernameOrEmail" 
              class="form-control" 
              type="text" 
              autocomplete="email username"
              placeholder="Escriba su usuario" 
              formControlName="usernameOrEmail" 
              [ngClass]="{'is-invalid': displayMessage['usernameOrEmail']}"
              i18n-placeholder>
          </div>
              <span class="invalid-feedback d-block" role="alert">
                {{ displayMessage['usernameOrEmail'] }}
              </span>
        </div>
        <div class="form-group">
          <label for="password" i18n>Contraseña</label>
          <div class="inputField">
            <i class="fa-solid fa-lock" aria-hidden="true"></i>
            <input id="password" 
              class="form-control" 
              type="password" 
              placeholder="Escriba su contraseña"
              formControlName="password" 
              [ngClass]="{'is-invalid': displayMessage['password']}"
              i18n-placeholder>
          </div>
          <span class="invalid-feedback d-block" role="alert">
            {{ displayMessage['password'] }}
          </span>
          <span class="forgotPassword" id="forgotPassword">
            <a routerLink="/auth/forgotPassword" i18n>¿Olvido su contraseña?</a>
          </span>
        </div>
        <button class="btn" id="loginButton" i18n>Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>