<ng-container *ngIf="vm$ | async as vm">
  <div class="row g-0">
    <div class="col-md-3 col-12 gx-4">
      <div class="available-sections">
        <h2 i18n>Secciones Disponibles</h2>
        <ul (dragover)="dragOver($event)">
          <li [draggable]="section.draggable" *ngFor="let section of sectionsConfig$ | async; index as i" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" [ngClass]="{'draggable': section.draggable}">
            <i class="fa-solid fa-grip-vertical"></i> 
            <label>
              <input id="input-{{section.sectionId}}" type="checkbox" class="form-check-input" [disabled]="section.disabled" [checked]="section.selected" (change)="updateSection(section.sectionId, $event)">{{ section.name }}
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-12 gx-4">
      <form [formGroup]="createEventSettingsForm">
        <section class="info">
          <div class="form-group col-6 col-md-3">
            <label for="primaryColor" class="form-label" i18n>Color Primario</label>
            <input id="primaryColor"
                   type="color"
                   class="form-control"
                   formControlName="primaryColor"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('primaryColor') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('primaryColor') | validation">
              {{ createEventSettingsForm.get('primaryColor')?.errors | validationError: 'primaryColor' }}
            </span>
          </div>
          <div class="form-group col-6 col-md-3">
            <label for="secondaryColor" class="form-label" i18n>Color Secundario</label>
            <input id="secondaryColor"
                   type="color"
                   class="form-control"
                   formControlName="secondaryColor"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('secondaryColor') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('secondaryColor') | validation">
              {{ createEventSettingsForm.get('secondaryColor')?.errors | validationError: 'secondaryColor' }}
            </span>
          </div>
          <div class="form-group col-12">
            <label for="firstSectionSentences" class="form-label" i18n>Frases primera sección</label>
            <textarea id="firstSectionSentences"
                      type="text"
                      class="form-control"
                      formControlName="firstSectionSentences"
                      [ngClass]="{'is-invalid': createEventSettingsForm.get('firstSectionSentences') | validation }">
            </textarea>
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('firstSectionSentences') | validation">
              {{ createEventSettingsForm.get('firstSectionSentences')?.errors | validationError: 'firstSectionSentences' }}
            </span>
          </div>
        </section>
        <section class="ceremony" *ngIf="sectionEnabled('ceremonyInfo')">
          <div class="form-group col-12 col-md-6">
            <label for="parents" class="form-label" i18n>Padres</label>
            <input id="parents"
                   type="text"
                   class="form-control"
                   formControlName="parents"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('parents') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('parents') | validation">
              {{ createEventSettingsForm.get('parents')?.errors | validationError: 'parents' }}
            </span>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="godParents" class="form-label" i18n>Padrinos</label>
            <input id="godParents"
                   type="text"
                   class="form-control"
                   formControlName="godParents"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('godParents') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('godParents') | validation">
              {{ createEventSettingsForm.get('godParents')?.errors | validationError: 'godParents' }}
            </span>
          </div>
          <div class="form-group col-12">
            <label for="secondSectionSentences" class="form-label" i18n>Frases segunda sección</label>
            <textarea id="secondSectionSentences"
                      type="text"
                      class="form-control"
                      formControlName="secondSectionSentences"
                      [ngClass]="{'is-invalid': createEventSettingsForm.get('secondSectionSentences') | validation }">
            </textarea>
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('secondSectionSentences') | validation">
              {{ createEventSettingsForm.get('secondSectionSentences')?.errors | validationError: 'secondSectionSentences' }}
            </span>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="massUrl" class="form-label" i18n>Url de la ubicación de la misa</label>
            <input id="massUrl"
                   type="url"
                   class="form-control"
                   formControlName="massUrl"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('massUrl') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('massUrl') | validation">
              {{ createEventSettingsForm.get('massUrl')?.errors | validationError: 'massUrl' }}
            </span>
          </div>
          <div class="form-group col-6 col-md-2">
            <label for="massTime" class="form-label" i18n>Hora de la Misa</label>
            <input id="massTime"
                   type="time"
                   class="form-control"
                   formControlName="massTime"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('massTime') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('massTime') | validation">
              {{ createEventSettingsForm.get('massTime')?.errors | validationError: 'massTime' }}
            </span>
          </div>
          <div class="form-group col-6 col-md-4">
            <label for="massAddress" class="form-label" i18n>Dirección de la Misa</label>
            <input id="massAddress"
                   type="text"
                   class="form-control"
                   formControlName="massAddress"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('massAddress') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('massAddress') | validation">
              {{ createEventSettingsForm.get('massAddress')?.errors | validationError: 'massAddress' }}
            </span>
          </div>
        </section>
        <section class="reception" *ngIf="sectionEnabled('receptionInfo')">
          <div class="form-group col-12 col-md-6">
            <label for="receptionUrl" class="form-label" i18n>Url de la ubicación de la recepción</label>
            <input id="receptionUrl"
                   type="text"
                   class="form-control"
                   formControlName="receptionUrl"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('receptionUrl') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('receptionUrl') | validation">
              {{ createEventSettingsForm.get('receptionUrl')?.errors | validationError: 'receptionUrl' }}
            </span>
          </div>
          <div class="form-group col-6 col-md-2">
            <label for="receptionTime" class="form-label" i18n>Hora de la recepción</label>
            <input id="receptionTime"
                   type="time"
                   class="form-control"
                   formControlName="receptionTime"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('receptionTime') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('receptionTime') | validation">
              {{ createEventSettingsForm.get('receptionTime')?.errors | validationError: 'receptionTime' }}
            </span>
          </div>
          <div class="form-group col-6 col-md-4">
            <label for="receptionPlace" class="form-label" i18n>Lugar de la recepción</label>
            <input id="receptionPlace"
                   type="text"
                   class="form-control"
                   formControlName="receptionPlace"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('receptionPlace') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('receptionPlace') | validation">
              {{ createEventSettingsForm.get('receptionPlace')?.errors | validationError: 'receptionPlace' }}
            </span>
          </div>
          <div class="form-group col-12">
            <label for="receptionAddress" class="form-label" i18n>Dirección de la recepción</label>
            <input id="receptionAddress"
                   type="text"
                   class="form-control"
                   formControlName="receptionAddress"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('receptionAddress') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('receptionAddress') | validation">
              {{ createEventSettingsForm.get('receptionAddress')?.errors | validationError: 'receptionAddress' }}
            </span>
          </div>
        </section>
        <section class="dressCode" *ngIf="sectionEnabled('dressCodeInfo')">
          <div class="form-group col-12">
            <label for="dressCodeColor" class="form-label" i18n>Código reservado para festejados</label>
            <input id="dressCodeColor"
                   type="text"
                   class="form-control"
                   formControlName="dressCodeColor"
                   [ngClass]="{'is-invalid': createEventSettingsForm.get('dressCodeColor') | validation }">
            <span class="invalid-feedback d-block" role="alert" *ngIf="createEventSettingsForm.get('dressCodeColor') | validation">
              {{ createEventSettingsForm.get('dressCodeColor')?.errors | validationError: 'dressCodeColor' }}
            </span>
          </div>
        </section>
      </form>
    </div>
    <div class="footer">
      <button id="cancel-changes" class="btn btn-dark" (click)="cancelChanges()" i18n>Cancelar Cambios</button>
      <button id="save-changes" class="btn btn-dark" (click)="saveChanges()" i18n [disabled]="!createEventSettingsForm.valid">Guardar Cambios</button>
    </div>  
  </div>
</ng-container>