.breadcrumb-header {
  flex: 0 1 auto;
}

  .breadcrumb-header {
    display: flex;
    align-items: center;
  }

    .breadcrumb-header nav {
      flex-grow: 1;
    }

    .breadcrumb-header button.btn-primary {
      background-color: var(--secondary-blue);
      color: var(--grey);
      border: none;
      margin: 0px 10px;
    }

    .breadcrumb-header .breadcrumb {
      margin-bottom: 0;
    }

    .breadcrumb-header .breadcrumb .breadcrumb-item {
      font-size: 15px;
    }

      .breadcrumb-header .breadcrumb .breadcrumb-item a {
        text-decoration: none; 
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
      }

      .breadcrumb-header .breadcrumb .breadcrumb-item a:hover {
        text-decoration: underline; 
      }

      .breadcrumb-header .breadcrumb .breadcrumb-item:first-of-type a {
        font-weight: bold;
        text-decoration: none;
      }

