<section class="row mx-1 my-3 breadcrumb-header">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a></li>
        <li class="breadcrumb-item">INICIO</li>
      </ol>
    </nav>
  </div>
</section>
<section class="history">
  <div class="full-history row">
    <div class="invites-history col-md-12 col-lg-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Todas las invitaciones</h5>
          <div class="row">
            <div class="col-12 col-md-6">
              <canvas id="historyChart"></canvas>
            </div>
            <div class="col-12 col-md-6">
              <div class="history-information">
                <table>
                  <tbody>
                    <tr>
                      <td><i class="fa-solid fa-circle" style="color: #43cd63;"></i> Invitaciones Confirmadas</td>
                      <td>{{ statistics.confirmedEntries }}</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-circle" style="color: #facf4f;"></i> Invitaciones Pendientes</td>
                      <td>{{ statistics.pendingEntries }}</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-circle" style="color: #ff5d6d;"></i> Invitaciones Canceladas</td>
                      <td>{{ statistics.canceledEntries }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><i class="fa-solid fa-circle" style="color: transparent;"></i> Total de Invitaciones</td>
                      <td>{{ statistics.totalEntries }}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="percentage-history col-md-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Porcentaje de <br> invitaciones confirmadas</h5>
          <span style="color: #43cd63;">{{ percentajeOfConfirmation }}%</span>
          <p>Basado en todos los eventos</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Porcentaje de <br> invitaciones pendientes</h5>
          <span style="color: #ff5d6d;">{{ percentajeOfPendingResponse }}%</span>
          <p>Basado en todos los eventos</p>
        </div>
      </div>
    </div>
  </div>
  <div class="last-history row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Últimos 31 días</h5>
          <canvas id="lastInvitesData"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>