<div class="full-invite" *ngIf="userInvite">
  <div class="info invite-section">
    <ng-container *ngFor="let downloadImage of downloadImages; index as i">  
      <ng-container *ngIf="i === 0">
        <div class="backgroundImage{{i}}" style="background-image: url('{{downloadImage.imageUrl}}');" alt=""></div>
      </ng-container>
      <ng-container *ngIf="i !== 0">
        <div class="backgroundImage{{i}}" style="visibility: hidden; background-image: url('{{downloadImage.imageUrl}}');" alt=""></div>
      </ng-container>
    </ng-container>
    <button (click)="goToForm()" class="scrollFormButton"><i class="fa-solid fa-arrow-down" aria-hidden="true"></i></button>
    <div class="container">
      <div class="header">
        <h1>15<span>Sweet</span></h1>
        <p>{{userInvite.nameOfCelebrated}}</p>
      </div>
      <div class="datetime">
        <div class="date">
          <hr>
          <p>{{ dayOfTheWeek.toLocaleUpperCase() }}, {{ shortDate.toLocaleUpperCase() }}</p>
          <hr>
        </div>
        <app-countdown [dateOfEvent]="userInvite.dateOfEvent"></app-countdown>
      </div>
    </div>
  </div>
  <div class="speech invite-section">
    <div class="container">
      <p>{{eventSettings.firstSectionSentences.split(';')[0]}}</p>
      <div class="invites">
        <div class="divider">
          <hr>
        </div>
        <p>{{ userInvite.family }}</p>
        <p class="pinkLetter" i18n>Pases: {{ userInvite.entriesNumber }}</p>
        <p class="noKids" *ngIf="!userInvite?.kidsAllowed" i18n>* No niños *</p>
        <div class="divider">
          <hr>
        </div>
      </div>
      <p>{{eventSettings.firstSectionSentences.split(';')[1]}}</p>
    </div>
  </div>
  <div class="ceremony invite-section">
    <div class="container">
      <h2 i18n>Ceremonia</h2>
      <div class="row">
        <div class="col-sm-12 col-md-6" [ngClass]="eventSettings.godParents.split(';').length === 2 ? 'col-md-6' : 'col-md-12'">
          <p i18n>En compañía de mis papás</p>
          <ng-container *ngFor="let parent of eventSettings.parents.split(';')">
            <p>{{parent}}</p>
          </ng-container>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="eventSettings.godParents.split(';').length === 2">
          <p i18n>Y mis padrinos</p>
          <ng-container *ngFor="let godParent of eventSettings.godParents.split(';')">
            <p>{{godParent}}</p>
          </ng-container>
        </div>
      </div>
      <p class="pt-5" i18n>{{eventSettings.secondSectionSentences}} <br><br>¡Mis XV Años! </p>
      <br>
      <p class="pinkLetter">{{ dayOfTheWeek.substring(0, 1).toUpperCase() + dayOfTheWeek.slice(1) }} <br> {{ longDate }} <br> <i class="fa-regular fa-clock" style="color: var(--custom-primary-color);" aria-hidden="true"></i> {{ eventSettings.massTime.substring(0,5) }} horas</p>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p>{{eventSettings.massAddress}}</p>
        </div>
        <div class=" col-sm-12 col-md-6">
          <iframe [src]="eventSettings.massUrl | safe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="reception invite-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <iframe [src]="eventSettings.receptionUrl | safe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-12 col-md-6">
          <h2 i18n>Recepción</h2>
          <h3>{{eventSettings.receptionPlace}}</h3>
          <p>{{eventSettings.receptionAddress}}</p>
          <span><i class="fa-regular fa-clock" style="color: var(--custom-primary-color);" aria-hidden="true"></i> {{eventSettings.receptionTime.substring(0, 5)}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="dressCode invite-section">
    <div class="container">
      <h2 i18n>Código de vestimenta: <br> Formal</h2>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="assets/menFormal.png" alt="Vestimenta Formal de Hombre"  i18n-alt>
          <p i18n>HOMBRES</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="assets/womenFormal.png" alt="Vestimenta Formal de Mujer"  i18n-alt>
          <p i18n>MUJERES</p>
        </div>
      </div>
      <p class="pt-5" i18n>- El color {{eventSettings.dressCodeColor}} -</p>
      <p i18n>Está reservado para la festejada</p>
    </div>
  </div>
  <div class="gifts invite-section">
    <div class="container">
      <p i18n>El mejor regalo que me puedes dar es tu presencia, pero si gustan regalarme algo: </p>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="assets/bills.png" alt="Regalo monetario"  i18n-alt>
        </div>
        <div class="col-sm-12 col-md-6">
          <img src="assets/box.png" alt="Regalo en caja"  i18n-alt>
        </div>
      </div>
      <p i18n>Muchas Gracias!</p>
    </div>
  </div>
  <div class="invitesConfirmation invite-section" id="scrollToForm">
    <app-confirmation [invite]="userInvite" [deadlineMet]="deadlineMet"></app-confirmation>
  </div>
</div>