.btn-primary {
  background-color: var(--secondary-blue);
  color: var(--grey);
  border: none;
}

i.fa-circle-check {
  color: green;
}

i.fa-circle-xmark {
  color: red;
}

.roleName-validation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  .roleName-validation #name {
    width: calc(100% - 26px);
    margin-right: 10px;
  }