form {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

  form .form-group {
    display: flex;
    flex-direction: column;
  }

    form .form-group input[type="color"] {
      flex-grow: 1;
    }

    form .form-group .form-label {
      padding: 10px 5px 5px;
      font-weight: bold;
      margin: 0px;
    }

.footer {
  text-align: end;
  padding: 10px;
  position: sticky;
  bottom: 0px;
  background: var(--light-blue);
  border-top: 2px solid var(--teal-blue);
}

  .footer button#cancel-changes {
    margin-right: 10px;
  }
