h2 {
  font-size: 22px;
  font-weight: bold;
}

form {
  text-align: right;
}

.form-group, h2 {
  text-align: left;
}

.inputField {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

    .form-group span {
      display: block;
      text-align: start;
      margin-top: 10px;
    }
  
  .card-body {
    margin: auto;
    width: 90%;
  }

  .card label {
    font-weight: bold;
    font-size: 18px;
  }

  .card input {
    border: none;
    margin: 10px 0px;
  }

    .card input:focus::placeholder {
      color: transparent;
    }

    .card input:focus {
      box-shadow: none;
    }

  .card .btn {
    margin-top: 40px;
    width: 50%;
    background-color: #ffc0c0;
    border: 2px solid #ff9696;
    margin: 20px;
  }

  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
  }

  span.invalid-feedback {
    font-size: 14px;
  }

  .card p {
    font-size: 18px;
  }

@media (max-width: 575px) {
  .card {
    padding: 40px 0px;
    margin: 5px;
  }
}