<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">DASH<b>BOARD</b></a>
    <div class="navbarWithSearchAndForm">
      <button *ngIf="route.includes('/dashboard/events/')" class="btn notifications" (click)="toggleNotifications()"><i class="fa-solid fa-bell"></i><span [style.visibility]="numberOfNotifications > 0 ? 'visible' : 'hidden'">{{ numberOfNotifications }}</span></button> 
      <button class="btn account" (click)="toggleMenu()"><i class="fa-solid fa-user"></i></button>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-lg-none d-block">
        <li class="nav-item">
          <a routerLink="/dashboard/home" routerLinkActive="active" i18n>INICIO</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/events" routerLinkActive="active" i18n>EVENTOS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/files" routerLinkActive="active" i18n>ARCHIVOS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/users" routerLinkActive="active" i18n *ngIf="isAdmin">USUARIOS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/logs" routerLinkActive="active" i18n *ngIf="isAdmin">LOGS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/settings" routerLinkActive="active" i18n>CONFIGURACIÓN</a>
        </li>
      </ul>
    </div>
    <div class="base-menu menu">
      <div class="arrow-up"></div>
      <h3>{{ username }}<br /><span>{{ email }}</span></h3>
      <ul>
        <li>
          <i class="fa-solid fa-user"></i><a href="#" i18n>Mi perfil</a>
        </li>
        <li>
          <i class="fa-solid fa-gear"></i><a href="#" i18n>Configuración</a>
        </li>
        <li>
          <i class="fa-solid fa-right-from-bracket"></i><button (click)="logout()" i18n>Cerrar sesión</button>
        </li>
      </ul>
    </div>
    <div class="base-menu notificationMessages">
      <ng-container *ngIf="notifications.length > 0">
        <ng-container *ngFor="let notification of notifications; index as i">
          <button [ngClass]="{'isMessageNotRead': !notification.isMessageRead}" (click)="maskAsRead(notification.id)">
            <strong i18n>{{ notification.family }} ha</strong>: <i class="fa-solid fa-circle" [ngClass]="{'hideActiveNotification': notification.isMessageRead}"></i>
            <br>
            <span i18n>{ notification.confirmation, select, 1 {Confirmado} other {Cancelado}}</span>
            <br>
            <small *ngIf="notification.dateOfConfirmation !== '1000-01-01T00:00:00.000Z'">{{ getTime(notification.dateOfConfirmation) }}</small>
          </button>
          <hr *ngIf="i !== notifications.length - 1">
        </ng-container>
      </ng-container>
      <p *ngIf="notifications.length <= 0" i18n>Sin notificationes por el momento</p>
    </div>
  </div>
</nav>