<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" *ngIf="vm$ | async">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel" i18n>Imagen de perfil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" i18n-aria-label aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form class="upload-form" [formGroup]="profilePhotoForm">
          <div id="image-container" class="mb-3" style="display: none;" >
            <img id="profile-photo" alt="New Profile Photo">
          </div>
          <div class="mb-3">
            <label for="photoFiles" class="form-label" i18n>Seleccionar foto</label>
            <input id="photoFiles" class="form-control" formControlName="photoFiles" type="file" (change)="onPhotoChange($event)" accept=".png, .jpg, .jpeg">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-testid="cancel-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cerrar</button>
        <button data-testid="confirm-button" type="button" class="btn btn-primary" (click)="saveProfilePhoto()" i18n>Guardar</button>
      </div>
    </div>
  </div>
</div>