.container {
  color: var(--custom-primary-color);
}

.container .col-md-6:first-of-type,
.container .col-sm-12:first-of-type {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.container .col-md-6:first-of-type,
.container .col-sm-12:first-of-type {
  text-align: right;
}

.container .col-md-6:first-of-type p,
.container .col-sm-12:first-of-type p {
  color: #635959;
  font-size: 20px;
}

.accordion {
  margin: 20px 0px;
}

  .accordion .accordion-button {
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .accordion .accordion-button:focus {
    box-shadow: none;
  }

  .accordion .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--custom-secondary-color);
    border: 1px solid black;
  }

    .accordion .accordion-body a {
      color: var(--custom-primary-color);
      font-weight: bold;
    }

    .accordion .accordion-body .form {
      border: 1px solid #B79BA0;
      padding: 0px 20px 20px;
      background-color: #ffffff;
      text-align: left;
    }
      
      .accordion .accordion-body .form p {
        color: #000000;
        font-weight: bold;
        text-align: left;
        padding-top: 10px;
      }

      .accordion .accordion-body .form .button {
        padding-top: 20px;
        width: 100%;
        text-align: center;
      }

        .accordion .accordion-body .form .button .btn {
          background-color: var(--custom-primary-color);
          color: #ffffff;
          width: 200px;
        }
        
        .accordion .accordion-body .form .button .btn:hover {
          border: 1px solid var(--custom-primary-color);
        }
    
      .accordion .accordion-body .form .question span {
        display: block;
        font-size: 16px;
        text-align: center;
        background-color: red;
        color: white;
        border-radius: 20px;
        padding: 5px;
        margin-top: 10px;
      }

.confirmedModal {
  margin: 50px;
}

  .confirmedModal .confirmed > span {
    font-family: 'Raleway';
    color: var(--custom-primary-color);
    font-size: 20px;
  }

  .confirmedModal .card .confirmed {
    padding: 50px;
  }

  .confirmedModal .card .confirmed i.fa-circle-check {
    display: block;
    font-size: 80px;
    margin-bottom: 1rem;
    color: rgb(0, 182, 0);
  }

    .confirmedModal .card .confirmed p {
      font-family: 'Raleway';
      color: #635959;
    }

    .confirmedModal .card .confirmed p a {
      color: var(--custom-primary-color);
      font-weight: bold;
    }

@media (min-width: 576px) and (max-width: 991px) {  
  .accordion {
    width: 90%;
    margin: 20px auto;
  }

    .accordion p,
    .accordion label,
    .accordion .accordion-body .form .button .btn {
      font-size: 20px;
    }

    .accordion .accordion-button {
      font-size: 25px;
    }

  .confirmedModal {
    margin: 30px;
  }

    .confirmedModal .card {
      padding: 20px;
    }
}

@media (max-width: 575px) {  
  form {
    padding: 0px;
  }
  .accordion {
    width: 90%;
    margin: 20px auto;
  }

    .accordion p,
    .accordion label,
    .accordion .accordion-body .form .button .btn {
      font-size: 16px;
    }

    .accordion .accordion-button {
      font-size: 18px;
    }

  .confirmedModal {
    margin: 30px;
  }

    .confirmedModal .card {
      padding: 20px;
    }
}