
<div class="accordion" id="accordionExample" *ngIf="invite && invite.needsAccomodation === null">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" i18n>¿Necesitas hospedaje?</button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form [formGroup]="accomodationForm" class="container" novalidate (ngSubmit)="saveInformation()">
          <p i18n>El salón tiene un convenio con el hotel <a href="https://maps.app.goo.gl/2YJ38t8kV2FYAdkq6" target="_blank">Holiday Inn Express</a> y cuenta con los siguientes traslados <strong>(hotel <i class="fa-solid fa-arrow-right"></i> iglesia <i class="fa-solid fa-arrow-right"></i> recepción <i class="fa-solid fa-arrow-right"></i> hotel)</strong>. Para mayor información seleccionar <strong>SÍ</strong> y nos pondremos en contacto con usted!</p>
          <div class="form">
            <div class="question">
              <span i18n *ngIf="blockAccomodationForm">Este formulario no acepta mas respuestas</span>
            </div>
            <p i18n>
              Require hospedaje?
            </p>
            <div class="form-check form-check-inline">
              <label class="form-check-label" i18n>
                <input class="form-check-input" type="radio" value="true" formControlName="needsAccomodation" checked> Si
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" i18n>
                <input class="form-check-input" type="radio" value="false" formControlName="needsAccomodation"> No
              </label>
            </div>
            <div class="button">
              <button class="btn" type="submit" i18n [disabled]="blockAccomodationForm">ENVIAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="confirmedModal" *ngIf="invite && invite.needsAccomodation !== null">
  <div class="card">
    <div class="card-body">
      <div class="confirmed">
        <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
        <span i18n>Su respuesta ha sido enviada</span>
        <p class="card-text" i18n>Muchas gracias por su tiempo. 
          <span *ngIf="invite.needsAccomodation">
            Le compartimos el Flyer con información sobre el hotel 
            <br>
            <i class="fa-solid fa-arrow-down"></i>
            <br>
            <a [href]="inviteSettings.hotelInformation" target="_blank">{{inviteSettings.hotelName}}</a>
          </span>
        </p>
        <p class="card-text" i18n>Puede cerrar la página</p>
      </div>
    </div>
  </div>
</div>