@if (vm$ | async; as vm) {
  <div class="full-invite">
    <div class="invite-fixed-menu">
      <nav aria-label="Invitation sections" role="navigation">
        <ul role="tablist">
          <li
            role="presentation"
            [class.active]="selectedSection === 'envelope'"
          >
            <button
              type="button"
              class="nav-button"
              role="tab"
              aria-selected="{{ selectedSection === 'envelope' }}"
              aria-controls="envelope"
              [attr.aria-current]="
                selectedSection === 'envelope' ? 'true' : null
              "
              (click)="scrollToSection('envelope')"
              i18n
            >
              Sobre
            </button>
          </li>
          <li
            role="presentation"
            [class.active]="selectedSection === 'invitation'"
          >
            <button
              type="button"
              class="nav-button"
              role="tab"
              aria-selected="{{ selectedSection === 'invitation' }}"
              aria-controls="invitation"
              [attr.aria-current]="
                selectedSection === 'invitation' ? 'true' : null
              "
              (click)="scrollToSection('invitation')"
              i18n
            >
              Invitación
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div id="envelope" class="info invite-section">
      <div class="envelope-container">
        @for (
          downloadImage of downloadImages;
          track downloadImage;
          let i = $index
        ) {
          @if (i === 0) {
            <img src="{{ downloadImage.fileUrl }}" alt="Sobre" i18n-alt />
          }
        }
        <div class="envelope-text">
          <h1 i18n>Están invitados</h1>
          <p class="date">{{ vm.userInvite.dateOfEvent | date: "longDate" }}</p>
        </div>
      </div>
      <div class="container">
        <div class="datetime">
          <app-countdown
            [dateOfEventValue]="vm.userInvite.dateOfEvent"
          ></app-countdown>
        </div>
      </div>
    </div>
    <div id="invitation" class="invitation invite-section">
      @if (sectionEnabled("ceremonyInfo")) {
        <div
          class="ceremony invite-section"
          [ngStyle]="{ order: getSectionOrder('ceremonyInfo') }"
        >
          @if (vm.sectionDecorationStyles["ceremonyInfo"]?.decoration1) {
            <div
              class="decoration-image decoration-1"
              [ngStyle]="
                vm.sectionDecorationStyles['ceremonyInfo']?.decoration1?.style
              "
            >
              <img
                [src]="
                  vm.sectionDecorationStyles['ceremonyInfo']?.decoration1
                    ?.fileUrl
                "
                alt="Artículo decorativo"
                i18n-alt
              />
            </div>
          }

          @if (vm.sectionDecorationStyles["ceremonyInfo"]?.decoration2) {
            <div
              class="decoration-image decoration-2"
              [ngStyle]="
                vm.sectionDecorationStyles['ceremonyInfo']?.decoration2?.style
              "
            >
              <img
                [src]="
                  vm.sectionDecorationStyles['ceremonyInfo']?.decoration2
                    ?.fileUrl
                "
                alt="Artículo decorativo"
                i18n-alt
              />
            </div>
          }
          <div class="container">
            <h2 i18n>Ceremonia</h2>
            <div class="row">
              <div
                class="col-sm-12 col-md-6"
                [ngClass]="
                  vm.parsedEventSettings.godParents.split(';').length === 2
                    ? 'col-md-6'
                    : 'col-md-12'
                "
              >
                <p i18n>En compañía de mis papás</p>
                @for (
                  parent of vm.parsedEventSettings.parents.split(";");
                  track parent
                ) {
                  <p>{{ parent }}</p>
                }
              </div>
              @if (vm.parsedEventSettings.godParents.split(";").length === 2) {
                <div class="col-sm-12 col-md-6">
                  <p i18n>Y mis padrinos</p>
                  @for (
                    godParent of vm.parsedEventSettings.godParents.split(";");
                    track godParent
                  ) {
                    <p>{{ godParent }}</p>
                  }
                </div>
              }
            </div>
            <p class="pt-5">
              {{ vm.parsedEventSettings.secondSectionSentences }}
            </p>
            <br />
            <h3>¡{{ vm.userInvite.nameOfCelebrated }}!</h3>
            <br />
            <p class="pinkLetter">
              {{
                vm.dayOfTheWeek.substring(0, 1).toUpperCase() +
                  vm.dayOfTheWeek.slice(1)
              }}
              <br />
              {{ vm.longDate }} <br />
              <i
                class="fa-regular fa-clock"
                style="color: var(--custom-primary-color)"
                aria-hidden="true"
              ></i>
              <span i18n>{{ vm.parsedEventSettings.massTime }} horas</span>
            </p>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <p>{{ vm.parsedEventSettings.massAddress }}</p>
              </div>
              <div class="col-sm-12 col-md-6">
                <iframe
                  title="Mapa de la ceremonia"
                  i18n-title
                  [src]="vm.parsedEventSettings.massUrl | safe"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      }
      @if (sectionEnabled("receptionInfo")) {
        <div
          class="reception invite-section"
          [ngStyle]="{ order: getSectionOrder('receptionInfo') }"
        >
          @if (vm.sectionDecorationStyles["receptionInfo"]?.decoration1) {
            <div
              class="decoration-image decoration-1"
              [ngStyle]="
                vm.sectionDecorationStyles['receptionInfo']?.decoration1?.style
              "
            >
              <img
                [src]="
                  vm.sectionDecorationStyles['receptionInfo']?.decoration1
                    ?.fileUrl
                "
                alt="Artículo decorativo"
                i18n-alt
              />
            </div>
          }
          @if (vm.sectionDecorationStyles["receptionInfo"]?.decoration2) {
            <div
              class="decoration-image decoration-2"
              [ngStyle]="
                vm.sectionDecorationStyles['receptionInfo']?.decoration2?.style
              "
            >
              <img
                [src]="
                  vm.sectionDecorationStyles['receptionInfo']?.decoration2
                    ?.fileUrl
                "
                alt="Artículo decorativo"
                i18n-alt
              />
            </div>
          }
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <iframe
                  title="Mapa de la recepción"
                  i18n-title
                  [src]="vm.parsedEventSettings.receptionUrl | safe"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
              <div class="col-sm-12 col-md-6">
                <h2 i18n>Recepción</h2>
                <h3>{{ vm.parsedEventSettings.receptionPlace }}</h3>
                <p>{{ vm.parsedEventSettings.receptionAddress }}</p>
                <span class="mb-md-0 mb-2 d-block" i18n
                  ><i
                    class="fa-regular fa-clock"
                    style="color: var(--custom-primary-color)"
                    aria-hidden="true"
                  ></i>
                  {{ vm.parsedEventSettings.receptionTime }} horas</span
                >
              </div>
            </div>
          </div>
        </div>
      }
      @if (sectionEnabled("giftsInfo")) {
        <div
          class="gifts invite-section"
          [ngStyle]="{ order: getSectionOrder('giftsInfo') }"
        >
          <div class="container">
            <p i18n>
              El mejor regalo que me puedes dar es tu presencia, pero si gustan
              regalarme algo:
            </p>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img src="assets/bills.png" alt="Regalo monetario" i18n-alt />
              </div>
              <div class="col-sm-12 col-md-6">
                <img src="assets/box.png" alt="Regalo en caja" i18n-alt />
              </div>
            </div>
            <p i18n>Muchas Gracias!</p>
          </div>
        </div>
      }
    </div>
  </div>
}
