<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title" i18n>Crea tu cuenta</h1>
      <form action="" [formGroup]="registrationForm" novalidate (ngSubmit)="saveAccount()">
        <span id="registrationErrorMessage" class="bg-danger d-block text-light rounded py-2" [style.visibility]="registrationErrorMessage ? 'visible' : 'hidden'">
          {{ registrationErrorMessage }}
        </span>
        <div class="form-group">
          <label for="username" i18n>Usuario</label>
          <div class="inputField">
            <i class="fa-solid fa-user"></i>
            <input id="username" 
              class="form-control" 
              type="text" 
              placeholder="Escriba su usuario" 
              formControlName="username" 
              [ngClass]="{'is-invalid': displayMessage['username']}"
              i18n-placeholder>
          </div>
              <span class="invalid-feedback d-block">
                {{ displayMessage['username'] }}
              </span>
        </div>
        <div class="form-group">
          <label for="email" i18n>Correo</label>
          <div class="inputField">
            <i class="fa-solid fa-envelope"></i>
            <input id="email" 
              class="form-control" 
              type="text" 
              placeholder="Escriba su correo"
              formControlName="email" 
              [ngClass]="{'is-invalid': displayMessage['email']}"
              i18n-placeholder>
          </div>
          <span class="invalid-feedback d-block">
            {{ displayMessage['email'] }}
          </span>
        </div>
        <div class="form-group">
          <label for="password" i18n>Contraseña</label>
          <div class="inputField">
            <i class="fa-solid fa-lock"></i>
            <input id="password" 
              class="form-control" 
              type="password" 
              placeholder="Escriba su contraseña"
              formControlName="password" 
              [ngClass]="{'is-invalid': displayMessage['password']}"
              i18n-placeholder>
          </div>
          <span class="invalid-feedback d-block">
            {{ displayMessage['password'] }}
          </span>
        </div>
        <div class="form-group">
          <label for="confirmPassword" i18n>Confirmar contraseña</label>
          <div class="inputField">
            <i class="fa-solid fa-lock"></i>
            <input id="confirmPassword" 
              class="form-control" 
              type="password" 
              placeholder="Repita su contraseña"
              formControlName="confirmPassword" 
              [ngClass]="{'is-invalid': displayMessage['confirmPassword'] || displayMessage['passwordMatch']}"
              i18n-placeholder>
          </div>
          <span class="invalid-feedback d-block">
            {{ displayMessage['confirmPassword'] }} {{ displayMessage['passwordMatch'] }}
          </span>
        </div>
        <button class="btn" id="registerButton" i18n>Crear cuenta</button>
      </form>
      <span class="already-have-account" id="alreadyHaveAccount" i18n>¿Ya tiene una cuenta?  <b><a routerLink="/account/login">Iniciar Sesión</a></b></span>
    </div>
  </div>
</div>