:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
}

.card {
  width: 100%;
  color: #ffffff;
}

.card-title,
.card-body {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 700px) {
  :host {
    width: 100%;
  }

  .card {
    margin: 10px 0px;
  }
}