<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="commonModal" tabindex="-1" aria-labelledby="commonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commonModalLabel">{{commonModalData.modalTitle}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeAction()" i18n-aria-label aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="commonModalData.modalBody"></p>
      </div>
      <div class="modal-footer">
        <button id="closeModal" data-testid="cancel-button" type="button" class="btn" [ngClass]="commonModalData.modalType === 'C' ? 'btn-success' : 'btn-warning'" data-bs-dismiss="modal" (click)="closeAction()">{{actionButton1}}</button>
        <button id="actionButton" data-testid="confirm-button" type="button" class="btn" [ngClass]="commonModalData.modalType === 'C' ? 'btn-danger' : 'btn-success'" data-bs-dismiss="modal" (click)="confirmAction()">{{actionButton2}}</button>
      </div>
    </div>
  </div>
</div>