table {
  text-align: center;
}

table i.fa-circle-check,
table i.fa-star {
  color: green;
}

table i.fa-circle-xmark {
  color: red;
}

table td.error {
  background-color: red;
  color: white;
}

.progress-bar {
  width: 100%;
  background-color: lightgrey;
  border-radius: 10px;
}

.progress-bar #bar {
  width: 1%;
  height: 25px;
  background-color: green;
  color: #ffffff;
  font-size: 16px;
}