<div class="container-fluid h-100">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Login</h1>
      <form action="" [formGroup]="loginForm" novalidate (ngSubmit)="loginAccount()">
        <span data-testid="authErrorMessage" class="bg-danger d-block text-light rounded py-2" [style.visibility]="authErrorMessage ? 'visible' : 'hidden'">
          {{ authErrorMessage }}
        </span>
        <div class="form-group">
          <label for="username">Usuario</label>
          <div class="inputField">
            <i class="fa-solid fa-user"></i>
            <input id="username" 
              class="form-control" 
              type="text" 
              placeholder="Escriba su usuario" 
              formControlName="username" 
              [ngClass]="{'is-invalid': displayMessage['username']}">
          </div>
              <span class="invalid-feedback d-block">
                {{ displayMessage['username'] }}
              </span>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="inputField">
            <i class="fa-solid fa-lock"></i>
            <input id="password" 
              class="form-control" 
              type="password" 
              placeholder="Escriba su contraseña"
              formControlName="password" 
              [ngClass]="{'is-invalid': displayMessage['password']}">
          </div>
          <span class="invalid-feedback d-block">
            {{ displayMessage['password'] }}
          </span>
          <span class="forgotPassword" id="forgotPassword"><a href="">¿Olvido su contraseña?</a></span>
        </div>
        <button class="btn" id="loginButton">Iniciar Sesión</button>
      </form>
      <span id="registerSpan">¿No tiene una cuenta?  <b><a routerLink="/account/register">Registrarse</a></b></span>
    </div>
  </div>
</div>