<div class="info">
  <ng-container *ngFor="let downloadImage of downloadImages; index as i">  
    <ng-container *ngIf="i === 0">
      <div class="backgroundImage{{i}}" style="background-image: url('{{downloadImage.imageUrl}}');" alt=""></div>
    </ng-container>
    <ng-container *ngIf="i !== 0">
      <div class="backgroundImage{{i}}" style="visibility: hidden; background-image: url('{{downloadImage.imageUrl}}');" alt=""></div>
    </ng-container>
  </ng-container>
  <button (click)="goToForm()" class="scrollFormButton"><i class="fa-solid fa-arrow-down"></i></button>
  <div class="container">
    <div class="header">
      <h2>15<span>Sweet</span></h2>
      <h3>Anna Sofia</h3>
    </div>
    <div class="datetime">
      <div class="date">
        <hr>
        <h4>{{ dayOfTheWeek.toLocaleUpperCase() }}, {{ shortDate.toLocaleUpperCase() }}</h4>
        <hr>
      </div>
      <app-countdown [dateOfEvent]="entryResolved.entry.dateOfEvent"></app-countdown>
    </div>
  </div>
</div>
<div class="speech">
  <div class="container">
    <p>{{eventSettings.firstSectionSentences.split(';')[0]}}</p>
    <div class="entries">
      <div class="divider">
        <hr>
      </div>
      <p>{{ entryResolved.entry.family }}</p>
      <p class="pinkLetter" i18n>Pases: {{ entryResolved.entry.entriesNumber }}</p>
      <p class="noKids" *ngIf="!entryResolved.entry?.kidsAllowed" i18n>* No niños *</p>
      <div class="divider">
        <hr>
      </div>
    </div>
    <p i18n>{{eventSettings.firstSectionSentences.split(';')[1]}}</p>
  </div>
</div>
<div class="ceremony">
  <div class="container">
    <h1>Ceremonia</h1>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p i18n>En compañía de mis papás</p>
        <ng-container *ngFor="let parent of eventSettings.parents.split(';')">
          <p>{{parent}}</p>
        </ng-container>
      </div>
      <div class="col-sm-12 col-md-6">
        <p i18n>Y mis padrinos</p>
        <ng-container *ngFor="let godParent of eventSettings.godParents.split(';')">
          <p>{{godParent}}</p>
        </ng-container>
      </div>
    </div>
    <p class="pt-5">{{eventSettings.secondSectionSentences}} <br><br>¡Mis XV Años! </p>
    <br>
    <p class="pinkLetter">{{ dayOfTheWeek.substring(0, 1).toUpperCase() + dayOfTheWeek.slice(1) }} <br> {{ longDate }} <br> <i class="fa-regular fa-clock" style="color: #e57488;"></i> {{ eventSettings.massTime.substring(0,5) }} horas</p>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>{{eventSettings.massAddress}}</p>
      </div>
      <div class=" col-sm-12 col-md-6">
        <iframe [src]="eventSettings.massUrl | safe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="reception">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <iframe [src]="eventSettings.receptionUrl | safe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-sm-12 col-md-6">
        <h1 i18n>Recepción</h1>
        <h2>{{eventSettings.receptionPlace}}</h2>
        <p>{{eventSettings.receptionAddress}}</p>
        <span><i class="fa-regular fa-clock" style="color: #e57488;"></i> {{eventSettings.receptionTime.substring(0, 5)}} horas</span>
      </div>
    </div>
  </div>
</div>
<div class="dressCode">
  <div class="container">
    <h1 i18n>Código de vestimenta: <br> Formal</h1>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="assets/menFormal.jpg" alt="Vestimenta Formal de Hombre"  i18n-alt>
        <p i18n>HOMBRES</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="assets/womenFormal.jpg" alt="Vestimenta Formal de Mujer"  i18n-alt>
        <p i18n>MUJERES</p>
      </div>
    </div>
    <p class="pt-5">- El color {{eventSettings.dressCodeColor}} -</p>
    <p i18n>Está reservado para la festejada</p>
  </div>
</div>
<app-confirmation [entry]="entryResolved.entry"></app-confirmation>