.container {
  color: #E57488;
}

.container h1,
.confirmedModal h1 {
  color: #E57488;
  font-family: 'Allura';
  font-size: 50px;
}

.confirmedModal h3 {
  font-family: 'Raleway';
  color: #E57488;
  font-size: 20px;
}

.confirmedModal p {
  font-family: 'Raleway';
  color: #635959;
}

.confirmedModal .card {
  padding: 50px;
}

.confirmedModal i {
  font-size: 80px;
  margin-bottom: 1rem;
}
  .confirmedModal i.fa-circle-xmark {
    color: red;    
  }

  .confirmedModal i.fa-circle-check {
    color: rgb(0, 182, 0);
  }

.entriesConfirmation {
  background-color: rgb(229, 116, 136, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.entriesConfirmation .col-md-6:first-of-type,
.entriesConfirmation .col-sm-12:first-of-type {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.entriesConfirmation .col-md-6:first-of-type,
.entriesConfirmation .col-sm-12:first-of-type {
  text-align: right;
}

.entriesConfirmation .col-md-6:first-of-type p,
.entriesConfirmation .col-sm-12:first-of-type p {
  color: #635959;
  font-size: 20px;
}

.entriesConfirmation .form {
  border: 1px solid #B79BA0;
  margin: 80px 50px;
  padding: 50px;
  background-color: #FFF3F3;
  text-align: left;
}

.entriesConfirmation h2 {
  font-size: 20px;
  border-bottom: 2px solid #E57488;
  padding-bottom: 20px;
  text-align: center;
}

.entriesConfirmation .form p {
  color: #635959;
  text-align: left;
  padding-top: 10px;
}

.button {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.btn {
  background-color: #E57488;
  color: #ffffff;
  width: 200px;
}

.btn:hover {
  border: 1px solid #E57488;
}

.confirmedModal {
  margin: 50px;
}

@media (max-width: 575px) {
  .entriesConfirmation {
    padding: 50px 0px;
  }
  
  .entriesConfirmation .col-sm-12 {
    text-align: center !important;
    align-items: center !important;
  }
  
  .entriesConfirmation .form {
    margin: 20px;
  }

  .confirmedModal {
    margin: 30px;
  }

  .confirmedModal .card {
    padding: 20px;
  }
}
