<section class="row mx-1 my-3 breadcrumb-header">
  <div class="col-12 header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a></li>
        <li class="breadcrumb-item" i18n>EVENTOS</li>
      </ol>
    </nav>
    <div class="buttons">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventModal" i18n *ngIf="showNewEvent">Nuevo evento</button>
    </div>
  </div>
</section>
<section class="events-container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let event of events">
      <div class="card">
        <div class="card-body">
          <button (click)="editEvent(event)" class="edit-event btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventModal">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <h5 class="card-title">{{ event.nameOfEvent }}</h5>
          <p class="card-text" i18n>Fecha del evento: <br> {{ event.dateOfEvent | dateFormat }}</p>
          <button routerLink="/dashboard/events/{{event.id}}" routerLinkActive="router-link-active" class="view-event btn btn-primary">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-event-modal [eventAction]="eventAction" (updateEvents)="updateEvents($event)"></app-event-modal>