<div class="sidebar">
  <div class="list-group">
    <a routerLink="/dashboard/home" routerLinkActive="active">
      <i class="fa-solid fa-house" i18n></i> INICIO
    </a>
    <a routerLink="/dashboard/events" routerLinkActive="active">
      <i class="fa-solid fa-file-lines" i18n></i> EVENTOS
    </a>
    <a routerLink="/dashboard/files" routerLinkActive="active">
      <i class="fa-solid fa-file-lines" i18n></i> ARCHIVOS
    </a>
    <a routerLink="/dashboard/settings" routerLinkActive="active">
      <i class="fa-solid fa-gear" i18n></i> CONFIGURACIÓN
    </a>
  </div>
</div>
