.sidebar {
  background-color: var(--teal-blue);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Raleway';
}

  .sidebar a {
    text-align: left;
    color: #fff;
    padding: 15px 10px;
    margin: 0px 20px;
    text-decoration: none;
    border-bottom: 1px solid var(--primary-blue);
  }

    .sidebar a.active {
      color: var(--primary-orange);
    }

    .sidebar a i {
      width: 20px;
      margin-right: 10px;
      text-align: center;
    }