<div class="sidebar">
  <div class="list-group">
    <a routerLink="/dashboard/home" routerLinkActive="active">
      <i class="fa-solid fa-house"></i> HOME
    </a>
    <a routerLink="/dashboard/events" routerLinkActive="active">
      <i class="fa-solid fa-file-lines"></i> EVENTS
    </a>
    <a routerLink="/dashboard/files" routerLinkActive="active">
      <i class="fa-solid fa-file-lines"></i> FILES
    </a>
    <a routerLink="/dashboard/settings" routerLinkActive="active">
      <i class="fa-solid fa-gear"></i> SETTINGS
    </a>
  </div>
</div>
