<!-- Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="inviteModalLabel" i18n>Invitaciones Personalizadas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" i18n-aria-label aria-label="Cerrar"></button>
      </div>
      <ng-container *ngIf="!showNewGroupForm">
        <div class="modal-body">
          <form [formGroup]="createInviteForm">
            <div class="mb-3">
              <label for="family" class="form-label" i18n>Familia</label>
              <input id="family" type="text" class="form-control" formControlName="family" [ngClass]="{'is-invalid': displayMessage['family']}">
              <span class="invalid-feedback" role="alert">
                {{ displayMessage['family'] }}
              </span>
            </div>
            <div class="mb-3">
              <label for="inviteGroupId" class="form-label" i18n>Grupo</label>
              <div class="inviteGroupActions" [ngClass]="{'is-invalid': displayMessage['inviteGroupId']}">
                <select id="inviteGroupId" class="form-control" formControlName="inviteGroupId" [ngClass]="{'is-invalid': displayMessage['inviteGroupId']}">
                  <option value="" i18n>Selecciona el grupo</option>
                  <option *ngFor="let inviteGroup of inviteGroups" [value]="inviteGroup.id">{{ inviteGroup.inviteGroup }}</option>
                </select>
                <button class="btn btn-dark" (click)="inviteGroupAction(true, true)" *ngIf="createInviteForm.get('inviteGroupId')?.value"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-dark" (click)="inviteGroupAction(false, true)"><i class="fa-solid fa-plus" aria-hidden="true"></i></button>
              </div>
              <span class="invalid-feedback" role="alert">
                {{ displayMessage['inviteGroupId'] }}
              </span>
            </div>
            <div class="mb-3">
              <label for="entriesNumber" class="form-label" i18n>Numero de entradas</label>
              <input id="entriesNumber" type="number" min="1"  class="form-control" formControlName="entriesNumber" [ngClass]="{'is-invalid': displayMessage['entriesNumber']}">
              <span class="invalid-feedback" role="alert">
                {{ displayMessage['entriesNumber'] }}
              </span>
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label" i18n>Telefono de contacto</label>
              <input id="phoneNumber" type="tel" class="form-control" formControlName="phoneNumber" [ngClass]="{'is-invalid': displayMessage['phoneNumber']}" maxlength="10">
              <span class="invalid-feedback" role="alert">
                {{ displayMessage['phoneNumber'] }}
              </span>
            </div>
            <div class="form-check">
              <input id="kidsAllowed" class="form-check-input" type="checkbox" formControlName="kidsAllowed" [ngClass]="{'is-invalid': displayMessage['kidsAllowed']}" checked>
              <label for="kidsAllowed" class="form-check-label" i18n>Niños permitidos</label>
              <span class="invalid-feedback" role="alert">
                {{ displayMessage['kidsAllowed'] }}
              </span>
            </div>
          </form>
        </div>
        <div class="modal-footer" *ngIf="!showNewGroupForm">
          <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="saveInvite()" i18n>Guardar</button>
        </div>
      </ng-container>
      <ng-container *ngIf="showNewGroupForm">
        <div class="modal-body">
          <ng-container>
            <app-invite-group 
              [eventId]="eventId" 
              [inviteGroup]="groupSelected" 
              (isCreatingNewFormGroup)="inviteGroupAction(false, $event)"
              (updateInviteGroups)="updateCurrentInviteGroup($event)">
            </app-invite-group>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>