<div class="container-fluid h-100">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title" i18n>Restablecer contraseña</h1>
      @if (!passwordReset) {
        <form action="" [formGroup]="passwordResetForm" novalidate (ngSubmit)="resetPassword()">
          <div class="form-group">
            <label for="password" i18n>Contraseña</label>
            <div class="inputField">
              <i class="fa-solid fa-lock" aria-hidden="true"></i>
              <input id="password"
                class="form-control"
                type="password"
                placeholder="Escriba su contraseña"
                formControlName="password"
                [ngClass]="{'is-invalid': passwordResetForm.get('password') | validation }"
                i18n-placeholder>
                <button id="togglePasswordVisibility" type="button" class="fa-solid" tabindex="0" (click)="toggleShowPassword()" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" attr.aria-label="{{showPassword ? 'Hide' : 'Show'}} Password"></button>
              </div>
              @if (passwordResetForm.get('password') | validation) {
                <span class="invalid-feedback d-block" role="alert">
                  {{ passwordResetForm.get('password')?.errors | validationError: 'password' }}
                </span>
              }
            </div>
            <div class="form-group">
              <label for="confirmPassword" i18n>Confirmar contraseña</label>
              <div class="inputField">
                <i class="fa-solid fa-lock" aria-hidden="true"></i>
                <input id="confirmPassword"
                  class="form-control"
                  type="password"
                  placeholder="Repita su contraseña"
                  formControlName="confirmPassword"
                  [ngClass]="{'is-invalid': (passwordResetForm.get('confirmPassword') | validation) || passwordResetForm.errors?.['passwordMatch']}"
                  i18n-placeholder>
                  <button id="togglePasswordVisibility" type="button" class="fa-solid" tabindex="0" (click)="toggleConfirmShowPassword()" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" attr.aria-label="{{showConfirmPassword ? 'Hide' : 'Show'}} Password"></button>
                </div>
                @if (passwordResetForm.get('confirmPassword') | validation) {
                  <span class="invalid-feedback d-block" role="alert">
                    {{ passwordResetForm.get('confirmPassword')?.errors | validationError: 'confirmPassword' }}
                  </span>
                }
                @if (passwordResetForm.errors?.['passwordMatch']) {
                  <span class="invalid-feedback d-block" role="alert">
                    {{ null | validationError: 'custom': 'passwordMatch' }}
                  </span>
                }
              </div>
              <div class="form-group">
                <span class="loginUser" id="loginUser"><a routerLink="/auth/login" i18n>Iniciar sesión</a></span>
              </div>
              <button class="btn custom-primary" i18n id="resetPasswordButton">Restablecer</button>
            </form>
          }
          @if (passwordReset) {
            <div data-testid="passwordReset">
              <br>
                <p i18n>Se ha cambiado la contraseña satisfactoriamente.</p>
                <a routerLink="/auth/login" class="btn" i18n id="loginUser">Iniciar Sesión</a>
              </div>
            }
          </div>
        </div>
      </div>