<div class="container-fluid h-100">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title" i18n>Restablecer contraseña</h1>
      <form action="" [formGroup]="passwordResetForm" novalidate (ngSubmit)="resetPassword()" *ngIf="!passwordReset">
        <div class="form-group">
          <label for="password" i18n>Contraseña</label>
          <div class="inputField">
            <i class="fa-solid fa-lock" aria-hidden="true"></i>
            <input id="password" 
              class="form-control" 
              type="password" 
              placeholder="Escriba su contraseña"
              formControlName="password" 
              [ngClass]="{'is-invalid': displayMessage['password']}"
              i18n-placeholder>
          </div>
          <span class="invalid-feedback d-block">
            {{ displayMessage['password'] }}
          </span>
        </div>
        <div class="form-group">
          <label for="confirmPassword" i18n>Confirmar contraseña</label>
          <div class="inputField">
            <i class="fa-solid fa-lock" aria-hidden="true"></i>
            <input id="confirmPassword" 
              class="form-control" 
              type="password" 
              placeholder="Repita su contraseña"
              formControlName="confirmPassword" 
              [ngClass]="{'is-invalid': displayMessage['confirmPassword'] || displayMessage['passwordMatch']}"
              i18n-placeholder>
          </div>
          <span class="invalid-feedback d-block">
            {{ displayMessage['confirmPassword'] }}
          </span>
          <span class="invalid-feedback d-block" *ngIf="!displayMessage['confirmPassword']">
            {{ displayMessage['passwordMatch'] }}
          </span>
        </div>
        <div class="form-group">
          <span class="forgotPassword" id="forgotPassword"><a routerLink="/auth/login" i18n>Iniciar sesión</a></span>
        </div>
        <button class="btn" i18n>Restablecer</button>
      </form>
      <div *ngIf="passwordReset">
        <br>
        <p i18n>Se ha cambiado la contraseña satisfactoriamente.</p>
        <a routerLink="/auth/login" class="btn" i18n>Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>