.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 168, 168);
  font-family: "Raleway";
  overflow-x: auto;
}

.card {
  border: 3px solid rgb(255, 82, 82);
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  width: 700px;
}

  .card .card-body {
    margin: auto;
    width: 90%;
  }

  .card h1 {
    font-family: "Merriweather";
    color: #804028;
  }

  .card .form-group {
    text-align: left;
    margin: 20px 0px;
  }

    .card .form-group .inputField {
      display: flex;
      border-bottom: 1px solid gray;
      align-items: center;
      padding: 0px 10px;
    }

    .card .form-group span {
      display: block;
      text-align: start;
      font-weight: bold;
      margin-top: 10px;
      font-size: 16px;
    }

    .card .form-group span.invalid-feedback {
      font-size: 14px;
    }

    .card .form-group span.loginUser {
      text-align: end;
      }

      .card .form-group span a {
        font-size: 15px;
        color: black;
      }

    .card .form-group label {
      font-weight: bold;
      font-size: 18px;
    }

    .card .form-group input {
      border: none;
      margin: 10px 0px;
    }

    .card .form-group input:focus::placeholder {
      color: transparent;
    }

    .card .form-group input:focus {
      box-shadow: none;
    }

    .card .form-group input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px white inset;
    }

  .card .btn {
    margin-top: 40px;
    width: 50%;
    background-color: #ffc0c0;
    border: 2px solid #ff9696;
    margin: 20px;
  }

  .card p {
    font-size: 18px;
  }

@media (max-width: 575px) {
  .card {
    padding: 40px 0px;
    margin: 5px;
  }
}