<div class="time">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ days }}</h5>
        <p class="card-text">Días</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ hours }}</h5>
        <p class="card-text">Horas</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ minutes }}</h5>
        <p class="card-text">Minutos</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ seconds }}</h5>
        <p class="card-text">Segundos</p>
        </div>
    </div>
</div>
