:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
}

.card {
  width: 100%;
  color: #ffffff;
}

  .card .card-title,
  .card .card-body {
    font-weight: bold;
    color: black;
  }

    .card .card-body h3 {
      font-size: 18px;
    }

    .card .card-body p {
      font-size: 16px;
    }

@media screen and (max-width: 700px) {
  :host {
    width: 100%;
  }

  .card {
    margin: 10px 0px;
    height: auto !important;
  }
}

@media screen and (max-width: 1298px) {
  .card {
    height: 114px;
  }

  .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}