<!-- Modal -->
<div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel" i18n>Perfil del usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" i18n-aria-label aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createUserForm">
          <div class="mb-3">
            <label for="username" class="form-label" i18n>Usuario</label>
            <div class="username-validation">
              <input id="username" type="text" autocomplete="username" class="form-control" formControlName="username" [ngClass]="{'is-invalid': displayMessage['username'] || displayMessage['controlValueDuplicated']}" (keyup)="checkUsername($event)">
              <i class="fa-solid" aria-hidden="true" [ngClass]="createUserForm.get('controlIsValid')?.value ? 'fa-circle-check' : 'fa-circle-xmark'"></i>
              <span class="invalid-feedback d-block">
                {{ displayMessage['username'] }}
              </span>
              <span class="invalid-feedback d-block" *ngIf="!displayMessage['username']">
                {{ displayMessage['controlValueDuplicated'] }}
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label" i18n>Correo electrónico</label>
            <input id="email" type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': displayMessage['email']}">
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['email'] }}
            </span>
          </div>
          <div class="mb-3">
            <label for="roleFilter" class="form-label" i18n>Roles</label>
            <div class="filteringBox">
              <div class="roleActions" [ngClass]="{'is-invalid': displayMessage['roles']}">
                <select #roleActions class="form-select" id="roleFilter" (change)="selectedRole($event)" [ngClass]="{'is-invalid': displayMessage['roles']}">
                  <option value="" [attr.selected]="roleActions.value === '' ? '' : null" i18n>Seleccionar un rol</option>
                  <option *ngFor="let role of filteredRoles" [value]="role.id" [attr.selected]="roleActions.value === role.id ? '' : null">{{ role.name }}</option>
                </select>
                <button type="button" class="btn btn-dark"  data-bs-toggle="modal" data-bs-target="#rolesModal" (click)="roleAction(true)" *ngIf="roleSelected"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="button" class="btn btn-dark" (click)="addRole()" *ngIf="roleSelected"><i class="fa-solid fa-plus" aria-hidden="true"></i></button>
              </div>
              <span class="invalid-feedback" role="alert">
                {{ displayMessage['roles'] }}
              </span>
            </div>
            <div class="roles">
              <span class="badge text-bg-secondary" *ngFor="let role of userRoles">{{ role.name }} <i class="fa-solid fa-xmark" (click)="deleteRole(role.id)" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="mb-3">
            <label for="userIsActive" class="form-check-label" i18n>
              <input id="userIsActive" class="form-check-input" type="checkbox" formControlName="isActive" checked> Activo
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="saveUser()" i18n>Guardar</button>
      </div>
    </div>
  </div>
</div>