<ng-container *ngIf="vm$ | async as vm">
  <!-- Modal -->
  <div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel" i18n>Perfil del usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" i18n-aria-label aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createUserForm">
            <span data-testid="serverErrorMessage" class="bg-danger d-block text-light text-center rounded py-2 mb-2" [style.visibility]="serverErrorMessage !== '' ? 'visible' : 'hidden'" role="alert" aria-live="polite">
              {{ serverErrorMessage }}
            </span>
            <div class="mb-3">
              <label for="username" class="form-label" i18n>Usuario</label>
              <div class="username-validation">
                <input id="username" 
                      type="text" 
                      autocomplete="username" 
                      class="form-control" 
                      formControlName="username" 
                      [ngClass]="{'is-invalid': (createUserForm.get('username') | validation) || createUserForm.errors?.['controlIsDuplicated'] }" 
                      (keyup)="removeValidation()">
                <i class="fa-solid" aria-hidden="true" [ngClass]="createUserForm.get('controlIsValid')?.value ? 'fa-circle-check' : 'fa-circle-xmark'"></i>
                <span class="invalid-feedback d-block" role="alert" *ngIf="createUserForm.get('username') | validation">
                  {{ createUserForm.get('username')?.errors | validationError: 'username' }}
                </span>
                <span class="invalid-feedback d-block" role="alert" *ngIf="!createUserForm.get('controlIsValid')?.value">
                  {{ null | validationError: 'custom': 'controlIsDuplicated' }}
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label" i18n>Correo electrónico</label>
              <input id="email" 
                    type="email"
                    class="form-control"
                    formControlName="email"
                    [ngClass]="{'is-invalid': createUserForm.get('email') | validation}">
              <span class="invalid-feedback d-block" role="alert" *ngIf="createUserForm.get('email') | validation">
                {{ createUserForm.get('email')?.errors | validationError: 'email' }}
              </span>
            </div>
            <div class="mb-3">
              <label for="roleFilter" class="form-label" i18n>Roles</label>
              <div class="filteringBox">
                <div class="roleActions">
                  <select class="form-select"
                          id="roleFilter"
                          (change)="selectedRole($event)"
                          [ngClass]="{'is-invalid': createUserForm.get('roles') | validation}">
                    <option value="" i18n>Seleccionar un rol</option>
                    <option *ngFor="let role of vm.filteredRoles" [value]="role.id">{{ role.name }}</option>
                  </select>
                  <button type="button" class="btn btn-dark" (click)="roleAction(true)" *ngIf="roleSelected"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button type="button" class="btn btn-dark" (click)="addRole()" *ngIf="roleSelected"><i class="fa-solid fa-plus" aria-hidden="true"></i></button>
                </div>
                <span class="invalid-feedback d-block" role="alert" *ngIf="createUserForm.get('roles') | validation">
                  {{ createUserForm.get('roles')?.errors | validationError: 'roles' }}
                </span>
              </div>
              <div class="roles">
                <span class="badge text-bg-secondary" *ngFor="let role of vm.userRoles">{{ role.name }} <i class="fa-solid fa-xmark" (click)="deleteRole(role.id)" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <label for="userIsActive" class="form-check-label" i18n>
                <input id="userIsActive" class="form-check-input" type="checkbox" formControlName="isActive" checked> Activo
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button data-testid="cancel-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cerrar</button>
          <button data-testid="confirm-button" type="button" class="btn btn-primary" (click)="saveUser()" i18n>Guardar</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>