<div class="container-fluid h-100">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title" i18n>Olvido su contraseña</h1>
      <form action="" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="sendResetPassword()" *ngIf="!emailSent">
        <div class="form-group">
          <label for="usernameOrEmail" i18n>Usuario</label>
          <div class="inputField">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
            <input id="usernameOrEmail" 
              class="form-control" 
              type="text"
              autocomplete="username"
              placeholder="Escriba su usuario" 
              formControlName="usernameOrEmail" 
              [ngClass]="{'is-invalid': forgotPasswordForm.get('usernameOrEmail') | validation }"
              i18n-placeholder>
          </div>
          <span class="invalid-feedback d-block" role="alert" *ngIf="forgotPasswordForm.get('usernameOrEmail') | validation">
            {{ forgotPasswordForm.get('usernameOrEmail')?.errors | validationError: 'usernameOrEmail' }}
          </span>
        </div>
        <div class="form-group">
          <span class="loginUser" id="loginUser">
            <a routerLink="/auth/login" i18n>Iniciar sesión</a>
          </span>
        </div>
        <button class="btn" i18n id="resetPasswordButton">Restablecer contraseña</button>
      </form>
      <div *ngIf="emailSent" data-testid="emailSent">
        <br>
        <p i18n>Se ha enviado un correo electrónico al usuario asociado a su cuenta, el cual contiene instrucciones para cambiar su contraseña.</p>
        <p i18n>Este correo puede tardar unos minutos en llegar a su bandeja de entrada o correo no deseado.</p>
        <a routerLink="/auth/login" class="btn" i18n>Ir a Inicio</a>
      </div>
    </div>
  </div>
</div>