<form [formGroup]="createInviteGroupForm" id="inviteGroupForm">
  <div class="mb-3">
    <label for="inviteGroup" class="form-label" i18n>Nuevo grupo</label>
    <div class="inviteGroup-validation">
      <input id="inviteGroup"
             type="text"
             class="form-control"
             formControlName="inviteGroup" 
             [ngClass]="{'is-invalid': (createInviteGroupForm.get('inviteGroup') | validation) || createInviteGroupForm.errors?.['controlIsDuplicated'] }"
             (keyup)="removeValidation()">
      <i class="fa-solid" aria-hidden="true" [ngClass]="createInviteGroupForm.get('controlIsValid')?.value ? 'fa-circle-check' : 'fa-circle-xmark'"></i>
      <span class="invalid-feedback d-block" role="alert" *ngIf="createInviteGroupForm.get('inviteGroup') | validation">
        {{ createInviteGroupForm.get('inviteGroup')?.errors | validationError: 'inviteGroup' }}
      </span>
      <span class="invalid-feedback d-block" role="alert" *ngIf="!createInviteGroupForm.get('controlIsValid')?.value">
        {{ null | validationError: 'custom': 'controlIsDuplicated' }}
      </span>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button data-testid="cancel-button" type="button" class="btn btn-outline-dark" (click)="toggleIsCreatingNewFormGroup()" i18n>Cancelar</button>
  <button data-testid="confirm-button" type="button" class="btn btn-dark" (click)="saveInviteGroup()" i18n>Guardar</button>
</div>