:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.breadcrumb-header .header {
  display: flex;
  align-items: center;
}

  .breadcrumb-header .header nav {
    flex-grow: 1;
  }

  .breadcrumb-header .header .breadcrumb {
    margin-bottom: 0;
  }

    .breadcrumb-header .header .breadcrumb .breadcrumb-item {
      font-size: 15px;
    }

      .breadcrumb-header .header .breadcrumb .breadcrumb-item a {
        text-decoration: none; 
        color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
      }

      .breadcrumb-header .header .breadcrumb .breadcrumb-item a:hover {
        text-decoration: underline; 
      }

      .breadcrumb-header .header .breadcrumb .breadcrumb-item:first-of-type a {
        font-weight: bold;
        text-decoration: none;
      }

.settings {
  text-align: left;
  flex-grow: 1;
}

.settings .form-group label {
  padding: 10px 5px 5px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .breadcrumb-header .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}