@if (vm$ | async; as vm) {
  <section class="row mx-1 mt-3 breadcrumb-header">
    <div class="col-12 header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a></li>
          <li class="breadcrumb-item" i18n>CONFIGURACION</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="settings">
    <div class="row g-0 main-controls">
      <div class="col-12 col-md-4 gx-4">
        <div class="form-group">
          <label for="event-select" i18n>Seleccione un evento</label>
          <select #eventSelect id="event-select" class="form-control" (change)="loadEventSettings()">
            <option value="" i18n>Seleccione...</option>
            @for (event of vm.events; track event) {
              <option [value]="event.id">{{ event.nameOfEvent }}</option>
            }
          </select>
        </div>
      </div>
    </div>
    @if (!showSelectEvent()) {
      @switch (eventSettingAction.eventType) {
        @case ('X') {
          <app-sweet-xv-settings [eventSettingActionValue]="eventSettingAction"></app-sweet-xv-settings>
        }
        @case ('S') {
          <app-save-the-date-settings [eventSettingActionValue]="eventSettingAction"></app-save-the-date-settings>
        }
        @case ('W') {
          <app-wedding-settings [eventSettingAction]="eventSettingAction"></app-wedding-settings>
        }
      }
    }
  </section>
  @if (showSelectEvent()) {
    <section class="files-empty">
      <p i18n>Porfavor, seleccione un evento</p>
    </section>
  }
}