:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.breadcrumb-header .header {
  display: flex;
  align-items: center;
}

  .breadcrumb-header .header nav {
    flex-grow: 1;
  }

  .breadcrumb-header .header .breadcrumb {
    margin-bottom: 0;
  }

  .breadcrumb-header .header .breadcrumb .breadcrumb-item {
    font-size: 15px;
  }

    .breadcrumb-header .header .breadcrumb .breadcrumb-item a {
      text-decoration: none; 
      color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    }

    .breadcrumb-header .header .breadcrumb .breadcrumb-item a:hover {
      text-decoration: underline; 
    }

    .breadcrumb-header .header .breadcrumb .breadcrumb-item:first-of-type a {
      font-weight: bold;
      text-decoration: none;
    }

.settings {
  text-align: left;
  flex-grow: 1;
}
  .settings .form-group {
    display: flex;
    flex-direction: column;
  }

  .settings .form-group input[type="color"] {
    flex-grow: 1;
  }

  .settings .form-group label {
    padding: 10px 5px 5px;
    font-weight: bold;
  }

  .settings .form-group .form-label {
    margin: 0px;
  }

  .settings form {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.footer {
  text-align: end;
  padding: 10px;
  position: sticky;
  bottom: 0px;
  background: var(--light-blue);
  border-top: 2px solid var(--teal-blue);
}

  .footer button {
    background-color: var(--secondary-blue);
    color: var(--grey);
    border: none;
  }

  .footer button#cancel-changes {
    margin-right: 10px;
  }

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}