:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.settings {
  text-align: left;
  flex-grow: 1;
}

.settings .form-group label {
  padding: 10px 5px 5px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .breadcrumb-header .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}