.modal-body {
  text-align: left;
}

  .modal-body i.fa-circle-check {
    color: green;
  }

  .modal-body i.fa-circle-xmark {
    color: red;
  }

  .modal-body .roleName-validation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
    .modal-body .roleName-validation #name {
      width: calc(100% - 26px);
      margin-right: 10px;
    }