<div class="dashboard">
  <header>
    <app-navbar [email]="email" [username]="username" [notifications]="notifications"></app-navbar>
  </header>
  <div class="container-fluid">
    <div class="row g-0 h-100">
      <aside class="col-lg-2 col-md-12 d-none d-lg-block">
        <app-sidebar></app-sidebar>
      </aside>
      <main class="col-md-12 col-lg-10">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <div class="messages-chat">
    <div class="messages-header">
      <h2 i18n>Mensajes</h2>
      <button class="btn" (click)="toggleMessages()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="messages-container">
      <div class="card" [style.display]="messages.size === 0 ? 'block' : 'none'" i18n>
        No hay mensajes
      </div>
      <div class="message" *ngFor="let message of messages | keyvalue">
        <div class="card text-start ps-2">
          <p class="text-start mb-0">{{ message.value.family }}: </p>
          {{ message.value.message }}
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="route.includes('/dashboard/events/')" class="btn messages" (click)="toggleMessages()"><i class="fa-regular fa-comment"></i></button>
</div>