<div class="dashboard">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row g-0 h-100">
      <div class="col-md-2 d-none d-lg-block">
        <app-sidebar [messages]="messages"></app-sidebar>
      </div>
      <div class="col-md-12 col-lg-10">
        <div class="row mx-1 my-3">
          <div class="col-12 header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">DASHBOARD</a></li>
                <li class="breadcrumb-item active" aria-current="page">HOME</li>
              </ol>
            </nav>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">Nueva Invitación</button>
          </div>
        </div>
        <div class="row mx-1">
          <div class="col-12 card-container">
            <app-card displayText="Invitaciones Confirmadas" [number]="confirmedEntries" backgroundColor="#43cd63"></app-card>
            <app-card displayText="Invitaciones Pendientes" [number]="pendingEntries" backgroundColor="#facf4f"></app-card>
            <app-card displayText="Invitaciones Canceladas" [number]="canceledEntries" backgroundColor="#ff5d6d"></app-card>
            <app-card displayText="Total de Invitaciones" [number]="totalEntries" backgroundColor="#54a6ff"></app-card>
          </div>
        </div>
        <div class="row mx-1">
          <div class="col-12">
            <div class="accordion" id="entryAccordion" *ngFor="let entryGroup of entriesGrouped | keyvalue">
              <app-table [entryGroup]="entryGroup"></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="messages-chat">
    <div class="messages-header">
      <h2>Mensajes</h2>
      <button class="btn" (click)="toggleMessages()"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div class="card" *ngFor="let message of messages">
      {{ message }}
    </div>
  </div>
  <button class="btn messages" (click)="toggleMessages()"><i class="fa-regular fa-comment"></i></button>
</div>
<app-modal (updateDashboard)="updateDashboard()"></app-modal>