<div class="dashboard">
  <header>
    <app-navbar [email]="email" [username]="username" (searchEntries)="filterEntries($event)"></app-navbar>
  </header>
  <div class="container-fluid">
    <div class="row g-0 h-100">
      <aside class="col-md-2 d-none d-lg-block">
        <app-sidebar [messages]="messages"></app-sidebar>
      </aside>
      <main class="col-md-12 col-lg-10">
        <div class="row mx-1 my-3 breadcrumb-header">
          <div class="col-12 header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">DASHBOARD</a></li>
                <li class="breadcrumb-item active" aria-current="page">HOME</li>
              </ol>
            </nav>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">Nueva Invitación</button>
          </div>
        </div>
        <section class="row mx-1 card-section">
          <div class="col-12 card-container">
            <app-card displayText="Invitaciones Confirmadas" [number]="confirmedEntries" backgroundColor="#43cd63"></app-card>
            <app-card displayText="Invitaciones Pendientes" [number]="pendingEntries" backgroundColor="#facf4f"></app-card>
            <app-card displayText="Invitaciones Canceladas" [number]="canceledEntries" backgroundColor="#ff5d6d"></app-card>
            <app-card displayText="Total de Invitaciones" [number]="totalEntries" backgroundColor="#54a6ff"></app-card>
          </div>
        </section>
        <section class="row mx-1 table-accordion">
          <div class="col-12">
            <div class="accordion" id="entryAccordion" *ngFor="let entryGroup of entriesGrouped | keyvalue">
              <app-table [entryGroup]="entryGroup"></app-table>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <div class="messages-chat">
    <div class="messages-header">
      <h2>Mensajes</h2>
      <button class="btn" (click)="toggleMessages()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="messages-container">
      <div class="card" [style.display]="messages.size === 0 ? 'block' : 'none'">
        No hay mensajes
      </div>
      <div class="message" *ngFor="let message of messages | keyvalue">
        <div class="card text-start ps-2">
          <p class="text-start mb-0">{{ message.value.family }}: </p>
          {{ message.value.message }}
        </div>
      </div>
    </div>
  </div>
  <button class="btn messages" (click)="toggleMessages()"><i class="fa-regular fa-comment"></i></button>
</div>
<app-modal (updateDashboard)="updateDashboard()" (getEntryToModifiy)="getEntryToModifiy()" [entryToModify]="entryToModify"></app-modal>