<ng-container *ngIf="vm$ | async as vm">
  <div class="row mx-1 my-3 breadcrumb-header">
    <div class="col-12 header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/events" routerLinkActive="active" i18n>EVENTOS</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/events/gallery/{{vm.nameOfEvent}}" routerLinkActive="active" i18n>ALBÚMS</a></li>
          <li class="breadcrumb-item"><h2 i18n>IMÁGENES</h2></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row mx-1" *ngIf="albumImages$ | async as images">
    <div class="image-container col-12 my-3">
      <img *ngFor="let image of images" src="{{image.fileUrl}}" class="img-fluid" i18n-alt alt="Imagen subida por usuario" loading="lazy">
    </div>
  </div>
</ng-container>