/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: 'Raleway';
    color: #E57488;
    text-align: center;
    padding-top: 50px;
}

iframe {
    width: 100%;
    border-radius: 10px;
}

.container h1 {
    color: #E57488;
    font-family: 'Allura';
    font-size: 50px;
}