@import 'node_modules/ngx-toastr/toastr.css';

:root {
  --primary-blue: #222831;
  --secondary-blue: #31363F;
  --light-blue: #e7efff;
  --teal-blue: #004F52;
  --grey: #EEEEEE;
  --primary-orange: #FFA500;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
  text-align: center;  
}

* {
  --focus-outline: 2px solid blue;
}

*:focus-visible {
  outline: var(--focus-outline, 2px solid #0af) !important;
}

.custom-primary,
.custom-primary:active {
  margin-top: 40px;
  width: 50%;
  background-color: #ffc0c0 !important;
  border: 2px solid #ff9696 !important;
  margin: 20px;
  color: black !important;
}

  .custom-primary:hover,
  .custom-primary:focus {
    background-color: #ff9696 !important;
  }