<div class="accordion-item" *ngIf="inviteGroup">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + inviteGroup.key.replaceAll(' ', '')" aria-expanded="true" aria-controls="collapseOne">
      {{ inviteGroup.key }}
    </button>
  </h2>
  <div *ngIf="inviteGroup.value.length > 0" [id]="inviteGroup.key.replaceAll(' ', '')" class="accordion-collapse collapse">
    <div class="accordion-body">
      <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>
              <input type="checkbox" (change)="selectAll($event)" [disabled]="isDeadlineMet" [checked]="allSelected()" [attr.aria-label]="getAccessibilityMessage(inviteGroup.key, true)">
            </th>
            <th i18n>Familia</th>
            <ng-container [ngSwitch]="eventType">
              <ng-container *ngSwitchCase="'S'">
                <th i18n>Necesita Hotel</th>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <th i18n>Numero de pases</th>
              </ng-container>
            </ng-container>
            <th i18n>Vista</th>
            <th i18n>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invite of inviteGroup.value">
            <td>
              <input type="checkbox" (change)="selectInvite($event, invite)" [disabled]="isDeadlineMet" [checked]="invite.beingDeleted" [attr.aria-label]="getAccessibilityMessage(invite.family, false)">
            </td>
            <td>{{ invite.family }}</td>
            <ng-container [ngSwitch]="eventType">
              <ng-container *ngSwitchCase="'S'">
                <td>
                  <i class="fa-solid" [ngClass]="invite.needsAccomodation ? 'fa-circle-check' : 'fa-circle-xmark'" *ngIf="invite.needsAccomodation !== null" aria-hidden="true"></i>
                </td>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <td>{{ invite.entriesConfirmed === null || invite.entriesConfirmed === undefined ? 0 : invite.entriesConfirmed }} / {{ invite.entriesNumber }}</td>
              </ng-container>
            </ng-container>
            <td>
              <i class="fa-solid fa-eye" *ngIf="invite.inviteViewed" aria-hidden="true"></i>
            </td>
            <td>
              <button class="btn" [ngClass]="invite.confirmation === null || invite.confirmation === undefined ? 'btn-warning' : 'btn-secondary'" (click)="openEditModal(this.invite.id)" [disabled]="(invite.confirmation !== null && invite.confirmation !== undefined) || isDeadlineMet" i18n-title="Edit {{invite.family}}"><i aria-hidden="true" class="fa-solid fa-pen-to-square"></i></button>
              <button class="btn btn-delete" [ngClass]="invite.confirmation === null || invite.confirmation === undefined ? 'btn-danger' : 'btn-secondary'" (click)="showModal(this.invite)" [disabled]="(invite.confirmation !== null && invite.confirmation !== undefined) || isDeadlineMet" i18n-title="Delete {{invite.family}}"><i aria-hidden="true" class="fa-solid fa-trash"></i></button>
              <button class="btn" [ngClass]="invite.confirmation === null || invite.confirmation === undefined ? 'btn-success' : 'btn-secondary'" (click)="copyToClipBoard(this.invite.id)" [disabled]="(invite.confirmation !== null && invite.confirmation !== undefined) || isDeadlineMet" i18n-title="Copy {{invite.family}} invite url"><i aria-hidden="true" class="fa-solid fa-copy"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-danger mt-3" (click)="bulkDeleteInvites()" [disabled]="allowDeleteInvites()" i18n>Eliminar Invitaciones</button>
    </div>
  </div>
</div>