.card-section {
  flex: 0 1 auto;
}

  .card-section .card-container {
    display: flex;
    justify-content: space-between;
  }

.table-accordion {
  flex: 1 1 0;
  overflow-y: auto;
}

  .table-accordion .accordion-item {
    margin: 10px 0px;
  }

  .table-accordion .accordion-item .accordion-body {
    padding: 0px;
    margin: 10px;
    text-align: end;
  }

  .offset-0 {
    justify-content: end;
    display: flex;
    align-items: end;
    gap: 8px;
  }

@media screen and (max-width: 575px) {
    .offset-0 .btn-dark {
      width: 50%;
    }
}

@media screen and (max-width: 700px) {
  .card-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .table-accordion {
    flex: none;
  }
}