<div class="row mx-1 my-3 breadcrumb-header">
  <div class="col-12 header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/events" routerLinkActive="active" i18n>EVENTOS</a></li>
        <li class="breadcrumb-item" i18n>INVITACIONES</li>
      </ol>
    </nav>
    <div class="buttons">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invitesImportModal" i18n [disabled]="isDeadlineMet">Importar invitaciones</button>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inviteModal" i18n [disabled]="isDeadlineMet">Nueva invitación</button>
    </div>
  </div>
</div>
<section class="row mx-1 card-section">
  <div class="col-12 card-container">
    <app-event-card *ngFor="let statistic of statistics" [displayText]="statistic.name" [number]="statistic.value" [backgroundColor]="statistic.color"></app-event-card>
  </div>
</section>
<section class="row mx-1 table-accordion">
  <div class="col-12 col-md-4 mt-3 text-start">
    <label for="filterByInviteViewed" class="form-label">
      <strong i18n>Filtrar (Vista)</strong>
    </label>
    <select class="form-select" name="filterByInviteViewed" id="filterByInviteViewed" (change)="filter($event, 'inviteViewed')">
      <option value="all" selected i18n>Todos</option>
      <option value="true" i18n>Vista</option>
      <option value="false" i18n>No vista</option>
    </select>
  </div>
  <div class="col-12 col-md-4 mt-3 text-start">
    <label for="filterByNeedsAccomodation" class="form-label">
      <strong i18n>Filtrar (Necesita hospedaje)</strong>
    </label>
    <select class="form-select" name="filterByNeedsAccomodation" id="filterByNeedsAccomodation" (change)="filter($event, 'needsAccomodation')">
      <option value="all" selected i18n>Todos</option>
      <option value="true" i18n>Requiere hospedaje</option>
      <option value="false" i18n>No requiere hospedaje</option>
    </select>
  </div>
  <div class="col-12 col-md-4 mt-3 text-start">
    <label for="filterByFamily" class="form-label">
      <strong i18n>Filtrar (Familia)</strong>
    </label>
    <input type="text" class="form-control" name="filterByFamily" id="filterByFamily" placeholder="Buscar familia" (keyup)="filter($event, 'family')"/>
  </div>
  <div class="col-12">
    <div class="accordion" id="inviteAccordion" *ngFor="let inviteGroup of invitesGrouped | keyvalue; index as i">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accordion' + inviteGroup.key.replaceAll(' ', '')" aria-expanded="true" aria-controls="collapseOne">
            {{ inviteGroup.key }}
          </button>
        </h2>
        <div [id]="'accordion' + inviteGroup.key.replaceAll(' ', '')" class="accordion-collapse collapse">
          <div class="accordion-body">
            <app-table (actionResponse)="actionResponse($event)"
                       [tableConfigurationValue]="tables[i]">
            </app-table>
            <button class="btn btn-danger mt-3" (click)="bulkDeleteInvites(inviteGroup.key)" [disabled]="!allowDeleteInvites(inviteGroup.key)" i18n>Eliminar Invitaciones</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-invite-modal 
  [inviteGroups]="inviteGroups" 
  [inviteActionValue]="inviteAction"  
  [eventId]="eventId"
  (updateInvites)="updateInvites($event)"
  (updateInviteGroups)="updateInviteGroups($event)">
</app-invite-modal>
<app-invites-import-dialog 
  [eventId]="eventId"
  [inviteGroups]="inviteGroups"
  (updateBulkResults)="updateBulkResults($event)">
</app-invites-import-dialog>