.breadcrumb-header {
  flex: 0 1 auto;
}

  .breadcrumb-header .header {
    display: flex;
    align-items: center;
  }

    .breadcrumb-header .header nav {
      flex-grow: 1;
    }

    .breadcrumb-header .header .breadcrumb {
      margin-bottom: 0;
    }

    .breadcrumb-header .header .breadcrumb .breadcrumb-item,
    .breadcrumb-header .header .breadcrumb .breadcrumb-item h2 {
      font-size: 15px;
      display: inline;
    }
    
      .breadcrumb-header .header .breadcrumb .breadcrumb-item a {
        text-decoration: none; 
        font-weight: bold;
        text-decoration: none;
        color: #01337E;
      }
    
      .breadcrumb-header .header .breadcrumb .breadcrumb-item a:hover {
        text-decoration: underline; 
      }

    .breadcrumb-header .header .buttons .btn-primary {
      background-color: var(--secondary-blue);
      color: var(--grey);
      border: none;
    }

    .breadcrumb-header .header .buttons .btn-primary:not(:last-child) {
      margin-right: 8px;
    }

.card-section {
  flex: 0 1 auto;
}

  .card-section .card-container {
    display: flex;
    justify-content: space-between;
  }

.table-accordion {
  flex: 1 1 0;
  overflow-y: auto;
}

  .table-accordion .accordion-item {
    margin: 10px 0px;
  }

  .table-accordion .accordion-item .accordion-body {
    padding: 0px;
    margin: 10px;
    text-align: end;
  }

  .offset-0 {
    justify-content: end;
    display: flex;
    align-items: end;
    gap: 8px;
  }

    .offset-0 .btn-primary {
      background-color: var(--secondary-blue);
      color: var(--grey);
      border: none;
    }

@media screen and (max-width: 575px) {
  .breadcrumb-header .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .breadcrumb-header .header .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
    .breadcrumb-header .header .buttons .btn-primary {
      width: 100%;
      margin: 0px;
    }

    .offset-0 .btn-primary {
      width: 50%;
    }
}

@media screen and (max-width: 700px) {
  .card-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .table-accordion {
    flex: none;
  }
}