<ng-container *ngIf="vm$ | async as vm">
  <div class="row mx-1 my-3 breadcrumb-header">
    <div class="col-12 header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/events" routerLinkActive="active" i18n>EVENTOS</a></li>
          <li class="breadcrumb-item"><h2 i18n>INVITACIONES</h2></li>
        </ol>
      </nav>
      <div class="buttons">
        <button class="btn btn-dark" (click)="openImportInvitesModal()" i18n [disabled]="vm.isDeadlineMet">Importar invitaciones</button>
        <button class="btn btn-dark" (click)="openInviteModal('')" i18n [disabled]="vm.isDeadlineMet">Nueva invitación</button>
        <button class="btn btn-danger" (click)="cancelInvites()" i18n>Cancelar Invitaciones</button>
      </div>
    </div>
  </div>
  <section class="row mx-1 card-section">
    <div class="col-12 card-container">
      <app-event-card *ngFor="let statistic of vm.statistics" [displayText]="statistic.name" [number]="statistic.value" [backgroundColor]="statistic.color"></app-event-card>
    </div>
  </section>
  <section class="row mx-1 table-accordion">
    <div class="filters">
      <div class="row">
        <div class="col-12 col-md-4 mt-3 text-start">
          <label for="filterByInviteViewed" class="form-label">
            <strong i18n>Filtrar (Vista)</strong>
          </label>
          <select class="form-select" name="filterByInviteViewed" id="filterByInviteViewed">
            <option value="all" selected i18n>Todos</option>
            <option value="true" i18n>Vista</option>
            <option value="false" i18n>No vista</option>
          </select>
        </div>
        <div class="col-12 col-md-4 mt-3 text-start">
          <label for="filterByNeedsAccomodation" class="form-label">
            <strong i18n>Filtrar (Necesita hospedaje)</strong>
          </label>
          <select class="form-select" name="filterByNeedsAccomodation" id="filterByNeedsAccomodation">
            <option value="all" selected i18n>Todos</option>
            <option value="true" i18n>Requiere hospedaje</option>
            <option value="false" i18n>No requiere hospedaje</option>
          </select>
        </div>
        <div class="col-12 col-md-4 mt-3 text-start">
          <label for="filterByAnswered" class="form-label">
            <strong i18n>Filtrar (Contestada)</strong>
          </label>
          <select class="form-select" name="filterByAnswered" id="filterByAnswered">
            <option value="all" selected i18n>Todos</option>
            <option value="true" i18n>Contestada</option>
            <option value="false" i18n>No contestada</option>
          </select>
        </div>
        <div class="col-12 col-md-4 mt-3 text-start">
          <label for="filterByFamily" class="form-label">
            <strong i18n>Filtrar (Familia)</strong>
          </label>
          <input type="text" class="form-control" name="filterByFamily" id="filterByFamily" i18n-placeholder placeholder="Buscar familia"/>
        </div>
        <div class="col-12 col-md-4 mt-3 text-start">
          <label for="filterByLastViewedStartDate" class="form-label">
            <strong i18n>Fecha Inicio (Última Vista)</strong>
          </label>
          <input type="date" class="form-control" name="filterByLastViewedStartDate" id="filterByLastViewedStartDate"/>
        </div>
        <div class="col-12 col-md-4 mt-3 text-start">
          <label for="filterByLastViewedEndDate" class="form-label">
            <strong i18n>Fecha Final (Última Vista)</strong>
          </label>
          <input type="date" class="form-control" name="filterByLastViewedEndDate" id="filterByLastViewedEndDate"/>
        </div>
        <div class="col-12 offset-0 offset-md-8 col-md-4 mt-3">
          <button class="btn btn-dark" id="searchInvites" (click)="filter()">Buscar</button>
          <button class="btn btn-dark" id="cleanInvites" (click)="clearFilter()">Limpiar</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="accordion" id="inviteAccordion" *ngFor="let inviteGroup of invitesGrouped | keyvalue; index as i">
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accordion' + inviteGroup.key.replaceAll(' ', '')" aria-expanded="true" aria-controls="collapseOne">
              {{ inviteGroup.key }}
            </button>
          </h3>
          <div [id]="'accordion' + inviteGroup.key.replaceAll(' ', '')" class="accordion-collapse collapse">
            <div class="accordion-body">
              <app-table (actionResponse)="actionResponse($event)"
                         [tableConfigurationValue]="findTableConfiguration(inviteGroup.key)">
              </app-table>
              <button class="btn btn-danger mt-3" (click)="bulkDeleteInvites(inviteGroup.key)" [disabled]="!allowDeleteInvites(inviteGroup.key)" i18n>Eliminar Invitaciones</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-invite-modal 
    [showModalValue]="showInviteModal"
    [inviteGroupsValue]="inviteGroups" 
    [inviteActionValue]="inviteAction"  
    [typeOfEventValue]="vm.typeOfEvent"
    (updateInvites)="updateInvites($event)"
    (updateInviteGroups)="updateInviteGroups($event)"
    (closeModal)="closeInviteModal()"
    (updateOverwroteInvite)="updateOverwroteInvite($event)">
  </app-invite-modal>
  <app-invites-import-dialog
    [showModalValue]="showImportInvitesModal" 
    [eventIdValue]="vm.eventId"
    [inviteGroupsValue]="inviteGroups"
    (updateBulkResults)="updateBulkResults($event)"
    (closeModal)="closeImportInvitesModal()">
  </app-invites-import-dialog>
</ng-container>