.notAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Outfit';
}

  .notAuth button {
    font-size: 20px;
  }

  .notAuth .modal-dialog i {
    font-size: 100px;
    color: red;
  }

  .notAuth .modal-dialog h1 {
    font-size: 30 px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Merriweather';
  }

  .notAuth .modal-dialog p {
    font-size: 20px;
    color: gray;
    margin: 20px 0px;
  }