<!-- Modal -->
<div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel" i18n>Perfil del usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" i18n-aria-label aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createUserForm">
          <input type="text" formControlName="id" hidden>
          <div class="mb-3">
            <label for="username" class="form-label" i18n>Usuario</label>
            <div class="username-validation">
              <input id="username" type="text" autocomplete="username" class="form-control" formControlName="username" [ngClass]="{'is-invalid': displayMessage['username'] || displayMessage['usernameDuplicated']}" (keyup)="checkUsername($event)">
              <i class="username-validation-icon fa-solid" aria-hidden="true" [ngClass]="createUserForm.get('usernameIsValid')?.value ? 'fa-circle-check' : 'fa-circle-xmark'"></i>
              <span class="invalid-feedback d-block">
                {{ displayMessage['username'] }}
              </span>
              <span class="invalid-feedback d-block" *ngIf="!displayMessage['username']">
                {{ displayMessage['usernameDuplicated'] }}
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label" i18n>Correo electrónico</label>
            <input id="email" type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': displayMessage['email']}">
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['email'] }}
            </span>
          </div>
          <div class="mb-3">
            <label for="roleFilter" class="form-label" i18n>Roles</label>
            <div class="filteringBox">
              <input type="text" autocomplete="off" class="form-control" id="roleFilter" [ngClass]="{'is-invalid': displayMessage['roles']}" (keyup)="filterRoles(true)" (focus)="filterRoles(true)" (keydown)="moveFocus($event)">
              <ul id="filteredRoles" [ngClass]="filteredRoles.length > 0 ? 'show' : 'hide'">
                <li *ngFor="let role of filteredRoles" (click)="addRole(role)" (keydown)="moveFocus($event, role)" tabindex="0">
                  {{ role.name }}
                </li>
              </ul>
              <span class="invalid-feedback" role="alert">
                {{ displayMessage['roles'] }}
              </span>
            </div>
            <div class="roles">
              <span class="badge text-bg-secondary" *ngFor="let role of userRoles">{{ role.name }} <i class="fa-solid fa-xmark" (click)="deleteRole(role.id)" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="mb-3">
            <label for="isActive" class="form-check-label" i18n>
              <input id="isActive" class="form-check-input" type="checkbox" formControlName="isActive" checked> Activo
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="saveUser()" i18n [disabled]="!createUserForm.valid || !createUserForm.dirty">Guardar</button>
      </div>
    </div>
  </div>
</div>