.modal-body {
  text-align: left;
}

.modal button.btn-primary {
  background-color: #ffb7e0;
  color: #000000;
  border: none;
}

.filteringBox {
  position: relative;
}

.filteringBox ul {
  border: var(--bs-border-width) solid var(--bs-border-color);
  max-height: 100px;
  padding: 0px;
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
  position: absolute;
  width: 100%;
  bottom: auto;
  background-color: white;
}

.filteringBox .show {
  display: block;
}

.filteringBox .hide {
  display: none;
}

.filteringBox ul li {
  list-style: none;
  padding: 5px 10px;
}

.filteringBox ul li:hover,
.filteringBox ul li.selected {
  background-color: #dcdcdc;
}

.roles span {
  display: inline-block;
  margin-right: 10px;
}

.roles span i {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  display: none;
}

.roles span:hover i {
  display: inline;
  cursor: pointer;
}

i.fa-circle-check {
  color: green;
}

i.fa-circle-xmark {
  color: red;
}

.username-validation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  .username-validation #username {
    width: calc(100% - 26px);
    margin-right: 10px;
  }