<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel" i18n>Eventos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" i18n-aria-label aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <span class="bg-danger d-block text-light rounded py-2 text-center mb-3" [ngClass]="userEmptyMessage !== '' ? 'd-block' : 'd-none'" role="alert" aria-live="polite">
          {{ userEmptyMessage }}
        </span>
        <form [formGroup]="createEventForm">
          <div class="mb-3">
            <label for="nameOfEvent" class="form-label" i18n>Nombre del evento</label>
            <input id="nameOfEvent" type="text" class="form-control" formControlName="nameOfEvent" [ngClass]="{'is-invalid': displayMessage['nameOfEvent']}">
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['nameOfEvent'] }}
            </span>
          </div>
          <div class="mb-3">
            <label for="dateOfEvent" class="form-label" i18n>Fecha del evento</label>
            <input id="dateOfEvent" type="date" class="form-control" formControlName="dateOfEvent" [ngClass]="{'is-invalid': displayMessage['dateOfEvent']}">
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['dateOfEvent'] }}
            </span>
          </div>
          <div class="mb-3">
            <label for="maxDateOfConfirmation" class="form-label" i18n>Fecha límite de confirmación de invitaciones</label>
            <input id="maxDateOfConfirmation" type="date" class="form-control" formControlName="maxDateOfConfirmation" [ngClass]="{'is-invalid': displayMessage['maxDateOfConfirmation']}">
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['maxDateOfConfirmation'] }}
            </span>
          </div>
          <div class="mb-3">
            <label for="typeOfEvent" class="form-label" i18n>Tipo de evento</label>
            <select id="typeOfEvent" class="form-control" formControlName="typeOfEvent" [ngClass]="{'is-invalid': displayMessage['typeOfEvent']}">
              <option value="" i18n>Seleccione...</option>
              <option value="X" i18n>Quinceañera</option>
              <option value="W" i18n>Boda</option>
              <option value="S">Save the date</option>
            </select>
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['typeOfEvent'] }}
            </span>
          </div>
          <div class="mb-3">
            <label for="nameOfCelebrated" class="form-label" i18n>Nombre del festejado o festejados</label>
            <input id="nameOfCelebrated" class="form-control" formControlName="nameOfCelebrated" [ngClass]="{'is-invalid': displayMessage['nameOfCelebrated']}">
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['nameOfCelebrated'] }}
            </span>
          </div>
          <div class="mb-3">
            <label for="userId" class="form-label" i18n>Usuario Asignado</label>
            <select id="userId" class="form-control" formControlName="userId" [ngClass]="{'is-invalid': displayMessage['userId']}">
              <option value="" i18n>Seleccione...</option>
              <option *ngFor="let user of users" [ngValue]="user.id">{{ user.username }}</option>
            </select>
            <span class="invalid-feedback" role="alert">
              {{ displayMessage['userId'] }}
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="saveEvent()" i18n>Guardar</button>
      </div>
    </div>
  </div>
</div>